<!-- build:css(.tmp) styles/esv/editor-panel.css -->
<link rel="stylesheet" href="components/editors/editor-panel.style.css"/>
<!-- endbuild -->

<div resizeable="true" show-on-top movable movable-anchor=".editor-panel-header" class="editor-panel-widget noselect ng-hide" ng-show="editorsPanelService.showEditorPanel" ng-controller="editorPanelCtrl"
      ng-keydown="suppressKeyPress($event)" >
  <div class="editor-panel-header">
    <h5 class="editor-panel-title">Editors</h5>
  </div>
  <div class="editor-panel-content">
    <uib-tabset style="height:100%; display: flex; flex-direction: column;" active="activeTabIndex">
      <uib-tab heading="Environment" index="tabindex.environment"
      disable="!isOwner">
        <environment-designer />
      </uib-tab>
      <uib-tab heading="Transfer Functions" index="tabindex.transferfunction"
           select="disableKeyBindings(); controls.transferfunction.refresh()"
           deselect="reenableKeyBindings()">
        <transfer-function-editor />
      </uib-tab>
      <uib-tab heading="State Machine (SMACH)" index="tabindex.statemachine"
           select="disableKeyBindings(); controls.statemachine.refresh()"
           deselect="reenableKeyBindings()">
        <smach-editor />
      </uib-tab>
      <uib-tab heading="Brain Editor" index="tabindex.pynneditor"
           select="disableKeyBindings();"
           deselect="reenableKeyBindings()">
        <pynn-editor />
      </uib-tab>
	  <uib-tab heading="TF Graphical Editor" index="tabindex.graphicalEditor"
           select="disableKeyBindings(); controls.graphicalEditor.refresh()"
           disable="!isOwner"
           deselect="reenableKeyBindings()">
        <graphical-editor topic="{{cleErrorTopic}}"  server="{{rosbridgeWebsocketUrl}}"
                          control="controls.graphicalEditor"/>
      </uib-tab>
    </uib-tabset>
  </div>
  <button type="button" class="button-close" data-ng-click="editorsPanelService.toggleEditors()">×</button>
</div>
