@import "angular-hbp-common/dist/scss/hbp-common.scss";

.hbp-toolbar-item {
  float: left;
  min-width: $hbp-toolbar-height;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: black;
  border-right: 1px solid $hbp-color-toolbar-border;
}

.hbp-toolbar-nav {
  @extend .hbp-toolbar-item;

  &:hover,
  &:focus {
    box-shadow: inset 0 0 20px $hbp-color-shadow;
    text-decoration: none;
    color: black;
  }

  &.active {
    box-shadow: inset 0 0 20px $hbp-color-shadow;
    text-decoration: none;
  }
}

.hbp-toolbar-large-tool {
    display: table-cell;
    height: 42px;
    float: left;
    padding-left: 10px;
    padding-right: 5px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid #aaaaaa;
}

.hbp-toolbar-large-action {
  display: table-cell;
  height: 42px;
  float: left;
  padding-left: 10px;
  padding-right: 5px;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid #aaaaaa;
  cursor: pointer;
}

.hbp-toolbar-large-action:hover {
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
}

.hbp-toolbar-large-tool input[type="range"] {
    -webkit-appearance: none;
    display: inline-block;
    vertical-align: middle;
    height: 1px;
    margin: 10px;
    width: 150px;
}

.hbp-toolbar-large-tool input[type=range]:focus {
    outline: none;
}

.hbp-toolbar-large-tool input[type='range']::-moz-range-track {
  border: none;
}
.hbp-toolbar-large-tool input[type='range']::-moz-focus-outer {
  border: 0;
}
.hbp-toolbar-large-tool span {
    margin-left: 5px;
}

.hbp-time-display {
    line-height: 13px;
    padding-top: 7px;
    padding-bottom: 7px;
    display: table;
}

.hbp-time-display div {
    display: table-row;
}

.hbp-time-display div div {
     display: table-cell;
}

.hbp-time-display div div:first-of-type span {
  font-size:x-small;
}

.hbp-time-display div div:nth-of-type(2) span {
    font-size:small;
    font-family: monospace;
}

.hbp-camera-tool-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  justify-content: center;
  align-items: center;

  font-weight: bold;
  text-align: center;
}

.hbp-camera-tool-text {
  display: flex;
  flex: 0 0 70%;
}

.hbp-camera-tool-controls {
  display: flex;
  flex: 0 0 30%;
  flex-flow: row wrap;
  cursor: default;
}

.hbp-camera-tool-controls-grid-full {
  display: inline-block;
  flex: 0 0 100%;
}

.hbp-camera-tool-controls-grid-third {
  display: inline-block;
  flex: 0 0 33%;
}
