$hbp-common-asset-path:"/bower_components/angular-hbp-common/dist/assets";
$icon-font-path:"/bower_components/hbp-collaboratory-theme/dist/fonts/";
// Dependencies (scss deps are injected here by grunt-wiredep).
// bower:scss
@import "angular-hbp-document-client/dist/scss/angular-hbp-document-client.scss";
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "hbp-collaboratory-theme/dist/sass/theme.scss";
// endbower

@import "toolbar-extensions";
@import "splash";
@import url("//fonts.googleapis.com/css?family=Petit+Formal+Script");

// Accounts for the fixed navbar
.container-with-navbar-margin {
    margin-top: 10px;
}

.fadein,
.fadeout {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}


// Canvas issue see
// http://stackoverflow.com/questions/15807833/div-containing-canvas-have-got-a-strange-bottom-margin-of-5px
canvas {
  display: block;
}

// Let the toolbar overlay be "at the top" such that other elements (like moveable objects)
// will not cover the toolbar.
#overlay {
  z-index: 1000;
}

.esv-overlay {
  width: 100%
}
.esv-contextmenu {
    position: absolute;
    z-index: 1000;
    background-color: white;
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  .esv-remove-from-touchscreen {
    display: none;
  }
}

// create new classes for dividing bootstrap into 5ths
// see http://stackoverflow.com/a/22799354/2677943
// modified answer to use scss in order to only change
// width and do not touch anything else.
.col-xs-5ths {
    @extend .col-xs-12;
    width: 20%;
}
.col-sm-5ths {
    @extend .col-sm-12;
}
.col-md-5ths {
    @extend .col-md-12;
}
.col-lg-5ths {
    @extend .col-lg-12;
}
@media (min-width: $screen-sm-min) {
    .col-sm-5ths {
        width: 20%;
    }
}
@media (min-width: $screen-md-min) {
    .col-md-5ths {
        width: 20%;
    }
}
@media (min-width: $screen-lg-min) {
    .col-lg-5ths {
        width: 20%;
    }
}

.foreground {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
  margin-bottom: 13px;
}

.btn.disabled.enable-tooltip {
  pointer-events: all;
}

.no-margin {
margin:0px 0px 0px 0px !important;
}

.monospace-text {
  font-family: monospace;
}

[v-busy].is-busy::before {
  border-top-color: black;
  border-left-color: black;
}
