<!-- build:css(.tmp) components/spike-train/spike-train.style.css -->
<link rel="stylesheet" href="components/spike-train/spike-train.style.css" />
<!-- endbuild -->

<div movable resizeable show-on-top class="spikegraph ng-hide" ng-show="visible">
  <div class="leftaxis">
    <div class="spikearrow">
      <p class="legend">NeuronID</p>
    </div>
  </div>
  <div class="spiketrain">
      <canvas></canvas>
  </div>
  <button type="button" class="button-close" ng-click="close()">×</button>
</div>
