<!-- build:css(.tmp) styles/esv/editor-toolbar.css -->
<link rel="stylesheet" href="components/editor-toolbar/editor-toolbar.style.css" />
<!-- endbuild -->

<!-- overlay -->
<div id="overlay" class="esv-overlay noselect">
    <div class="hbp-toolbar" ng-mousedown="contextMenuState.toggleContextMenu(false, $event);">
        <div ng-if="userContextService.isOwner() && stateService.currentState === STATE.PAUSED"
             class="hbp-toolbar-action"
             ng-disabled="stateService.statePending"
             help-tooltip="PLAY_BUTTON"
             ng-click="simControlButtonHandler(STATE.STARTED)">
            <i class="glyphicon glyphicon-play"></i>
        </div>
        <div ng-if="userContextService.isOwner()"
             class="hbp-toolbar-action ng-hide"
             ng-disabled="stateService.statePending"
             help-tooltip="PAUSE_BUTTON"
             ng-click="simControlButtonHandler(STATE.PAUSED)"
             ng-show="(stateService.currentState === STATE.STARTED)">
            <i class="glyphicon glyphicon-pause"></i>
        </div>
        <div ng-if="userContextService.isOwner()"
             class="hbp-toolbar-action ng-hide"
             ng-disabled="stateService.statePending"
             help-tooltip="STOP_BUTTON"
             ng-click="simControlButtonHandler(STATE.STOPPED)"
             ng-show="(stateService.currentState !== STATE.STOPPED) &&
                          (stateService.currentState !== STATE.FAILED)">
            <i class="glyphicon glyphicon-stop"></i>
        </div>
        <div ng-if="userContextService.isOwner()"
             class="hbp-toolbar-action ng-hide"
             ng-disabled="stateService.statePending"
             help-tooltip="RESET_BUTTON"
             ng-click="resetButtonClickHandler()"
             ng-show="(stateService.currentState !== STATE.STOPPED) &&
                          (stateService.currentState !== STATE.HALTED) &&
                          (stateService.currentState !== STATE.FAILED)">
            <i class="glyphicon glyphicon glyphicon-repeat"></i>
        </div>
        <div>
            <div class="hbp-toolbar-large-tool hbp-time-display default-cursor"
                 ng-class="{ 'disabled': (stateService.currentState === STATE.HALTED) ||
                                          (stateService.currentState === STATE.STOPPED) ||
                                          (stateService.currentState === STATE.FAILED)}"
                 help-tooltip="TIME_DISPLAY">
                <div ng-show="(stateService.currentState === STATE.INITIALIZED) || (stateService.currentState === STATE.STARTED) || (stateService.currentState === STATE.PAUSED)">
                    <div>
                        <span>Simulation time:</span><br/>
                        <span>Real time:</span><br/>
                        <span ng-style="{ color: simTimeoutText !== undefined && simTimeoutText < 300 ? 'red' : '' }">Timeout:</span>
                    </div>
                    <div>
                        <span id="simTime">{{simulationTimeText | timeDDHHMMSS}}</span><br/>
                        <span id="realTime">{{realTimeText | timeDDHHMMSS}}</span><br/>
                        <span ng-style="{ color: simTimeoutText !== undefined && simTimeoutText < 300 ? 'red' : '' }">{{simTimeoutText | timeDDHHMMSS}}</span>
                    </div>
                </div>
                <div ng-show="stateService.currentState === STATE.HALTED">
                    <div>
                        <span>An exception occurred in the simulation.</span><br />
                        <span>The simulation needs to be terminated.</span>
                    </div>
                </div>
            </div>

            <!-- global lights -->
            <div ng-if="userContextService.isOwner()" class="hbp-toolbar-light-icon vertcenter hbp-toolbar-item"
                 ng-class="{'disabled': (stateService.currentState === STATE.HALTED) ||
                                          (stateService.currentState === STATE.STOPPED) ||
                                          (stateService.currentState === STATE.FAILED)}">

                <i ng-class="{'disabled-image': gz3d.isGlobalLightMinReached()}" class="hbp-toolbar-light-min fa fa-lightbulb-o fa-1x vertcenter"></i>
                <div class="hbp-toolbar-light-divbar"></div>
                <i ng-class="{'disabled-image': gz3d.isGlobalLightMaxReached()}" class="hbp-toolbar-light-max fa fa-lightbulb-o fa-2x vertcenter"></i>

                <div class="hbp-toolbar-light-left-click" help-tooltip="DECREASE_LIGHT" ng-click="modifyLightClickHandler(-1)"></div>
                <div class="hbp-toolbar-light-right-click" help-tooltip="INCREASE_LIGHT" ng-click="modifyLightClickHandler(1)"></div>

            </div>
            <!-- global lights -->

            <!-- camera translation tool -->
            <div class="hbp-toolbar-item hidden-xs hidden-sm esv-remove-from-touchscreen hbp-camera-tool-container"
                 help-tooltip="CAMERA_TRANSLATION">
                <div class="hbp-camera-tool-controls">
                    <div class="hbp-camera-tool-controls-overlay"><img src="img/esv/translation_icon.png" width=32 height=32></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"
                         ng-mousedown="requestMove($event, 'moveUp');"
                         ng-mouseup="releaseMove($event, 'moveUp')"
                         ng-mouseleave="releaseMove($event, 'moveUp')"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"
                         ng-mousedown="requestMove($event, 'moveForward');"
                         ng-mouseup="releaseMove($event, 'moveForward');"
                         ng-mouseleave="releaseMove($event, 'moveForward')"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"
                         ng-mousedown="requestMove($event, 'moveLeft');"
                         ng-mouseup="releaseMove($event, 'moveLeft');"
                         ng-mouseleave="releaseMove($event, 'moveLeft')"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"
                         ng-mousedown="requestMove($event, 'initPosition');"
                         ng-mouseup="releaseMove($event, 'initPosition');"
                         ng-mouseleave="releaseMove($event, 'initPosition')"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"
                         ng-mousedown="requestMove($event, 'moveRight');"
                         ng-mouseup="releaseMove($event, 'moveRight');"
                         ng-mouseleave="releaseMove($event, 'moveRight')"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"
                         ng-mousedown="requestMove($event, 'moveBackward');"
                         ng-mouseup="releaseMove($event, 'moveBackward');"
                         ng-mouseleave="releaseMove($event, 'moveBackward')"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"
                         ng-mousedown="requestMove($event, 'moveDown');"
                         ng-mouseup="releaseMove($event, 'moveDown');"
                         ng-mouseleave="releaseMove($event, 'moveDown')"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"><img src="img/esv/empty.png"></div>
                </div>
            </div>
            <!-- camera translation tool -->

            <!-- camera rotation tool -->
            <div class="hbp-toolbar-item hidden-xs hidden-sm esv-remove-from-touchscreen hbp-camera-tool-container"
                 help-tooltip="CAMERA_ROTATION">
                <div class="hbp-camera-tool-controls">
                    <div class="hbp-camera-tool-controls-overlay"><img src="img/esv/rotation_icon.png" width=32 height=32></div>
                    <!-- in each flex little box, we put an 1 pixel image, else the box has a null size. And on Firefox, <img/> is not working -->
                    <div class="fa hbp-camera-tool-controls-grid-third"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"
                         ng-mousedown="requestMove($event, 'rotateUp');"
                         ng-mouseup="releaseMove($event, 'rotateUp');"
                         ng-mouseleave="releaseMove($event, 'rotateUp')"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"
                         ng-mousedown="requestMove($event, 'rotateLeft');"
                         ng-mouseup="releaseMove($event, 'rotateLeft');"
                         ng-mouseleave="releaseMove($event, 'rotateLeft')"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"
                         ng-mousedown="requestMove($event, 'initRotation');"
                         ng-mouseup="releaseMove($event, 'initRotation');"
                         ng-mouseleave="releaseMove($event, 'initRotation')"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"
                         ng-mousedown="requestMove($event, 'rotateRight');"
                         ng-mouseup="releaseMove($event, 'rotateRight');"
                         ng-mouseleave="releaseMove($event, 'rotateRight')"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"
                         ng-mousedown="requestMove($event, 'rotateDown');"
                         ng-mouseup="releaseMove($event, 'rotateDown');"
                         ng-mouseleave="releaseMove($event, 'rotateDown')"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"><img src="img/esv/empty.png"></div>
                </div>
            </div>
            <!-- camera rotation tool -->

            <!-- toggle spiketrain -->
            <div class="hbp-toolbar-action ng-hide"
                 ng-class="{'active': showSpikeTrain}"
                 help-tooltip="SPIKE_TRAIN"
                 ng-click="spikeTrainButtonClickHandler()"
                 ng-show="(stateService.currentState === STATE.STARTED) || (stateService.currentState === STATE.PAUSED) || (stateService.currentState === STATE.INITIALIZED)">
                <img src="img/esv/spiketrain_logo.png">
            </div>
            <!-- toggle spiketrain -->

            <!-- toggle jointPlot -->
            <div class="hbp-toolbar-action ng-hide"
                 ng-click="createDynamicOverlay('joint-plot')"
                 help-tooltip="JOINT_PLOT"
                 ng-show="(stateService.currentState === STATE.STARTED) || (stateService.currentState === STATE.PAUSED) || (stateService.currentState === STATE.INITIALIZED)">
                <img src="img/esv/jointplot_logo.png">
            </div>
            <!-- toggle jointPlot -->

            <!-- toggle robot camera view --><!-- todo: check if tooltip-enable="!hasCameraView" is valid, think it should be like "!environmentRenderingService.hasCameraView()" (Sven, Sandro)-->
            <div class="hbp-toolbar-action hide-overflow ng-hide"
                 ng-class="{'active': showRobotView, 'disabled-image-with-events': !environmentRenderingService.hasCameraView()}"
                 ng-click="robotViewButtonClickHandler()"
                 help-tooltip="ROBOT_VIEW"
                 tooltip="No camera is available"
                 tooltip-trigger="mouseenter"
                 tooltip-enable="!hasCameraView"
                 ng-show="(stateService.currentState === STATE.STARTED) || (stateService.currentState === STATE.PAUSED) || (stateService.currentState === STATE.INITIALIZED)">
              <i class="fa fa-eye fa-2x vertcenter"></i>
            </div>
            <!-- toggle robot camera view -->


            <!-- navigation mode -->
            <div class="hbp-toolbar-action ng-hide"
                 ng-class="{'active': showNavigationModeMenu}"
                 ng-click="navigationModeMenuClickHandler()"
                 help-tooltip="USER_NAVIGATION"
                 ng-show="(stateService.currentState === STATE.STARTED) || (stateService.currentState === STATE.PAUSED) || (stateService.currentState === STATE.INITIALIZED)">
                <i class="fa fa-compass fa-2x vertcenter"></i>
                <div show-on-top ng-show="showNavigationModeMenu" style="position: absolute; width: 42px; margin-top: -169px; background-color: lightgrey;">
                    <div  class="hbp-toolbar-action hide-overflow"
                          ng-class="{'active': isActiveNavigationMode(NAVIGATION_MODES.HUMAN_BODY), 'disabled-image': stateService.currentState === STATE.PAUSED}"
                          ng-click="setNavigationMode(NAVIGATION_MODES.HUMAN_BODY)">
                        <i class="fa fa-male fa-2x vertcenter"></i>
                    </div>

                    <div class="hbp-toolbar-action hide-overflow"
                        ng-class="{'active': isActiveNavigationMode(NAVIGATION_MODES.LOOKAT_ROBOT)}"
                        ng-click="setNavigationMode(NAVIGATION_MODES.LOOKAT_ROBOT);">
                        <img src="img/esv/lookatrobot_icon.png" width=32 height=32>
                    </div>

                    <div class="hbp-toolbar-action hide-overflow"
                         ng-class="{'active': isActiveNavigationMode(NAVIGATION_MODES.FREE_CAMERA)}"
                         ng-click="setNavigationMode(NAVIGATION_MODES.FREE_CAMERA)">
                        <i class="fa fa-video-camera fa-2x vertcenter"></i>
                    </div>
                </div>
            </div>
            <!-- navigation mode -->

            <!-- code editor icon -->
            <div ng-if="userContextService.isOwner()"
                 class="hbp-toolbar-action hide-overflow"
                 ng-class="{ 'active': editorsPanelService.showEditorPanel,
                              'disabled': userContextService.editIsDisabled || editorsPanelService.loadingEditPanel ||
                                          (stateService.currentState === STATE.HALTED) ||
                                          (stateService.currentState === STATE.STOPPED) ||
                                          (stateService.currentState === STATE.FAILED)}"
                 ng-click="codeEditorButtonClickHandler()"
                 help-tooltip="CODE_EDITOR"
                 tooltip="Sorry, you cannot edit at the moment as {{userEditing}} started editing {{timeEditStarted}}."
                 tooltip-trigger="mouseenter"
                 tooltip-enable="userContextService.editIsDisabled"
                 v-busy="editorsPanelService.loadingEditPanel"
                 v-busy-label="Loading the edit panel">
                <i class="fa fa-pencil-square-o fa-2x vertcenter"></i>
            </div>
            <!-- code editor icon -->

            <!-- brain visualizer icon -->
            <div ng-if="userContextService.isOwner()" class="hbp-toolbar-action hide-overflow"
                 ng-class="{  'active': showBrainvisualizerPanel,
                              'disabled': brainvisualizerIsDisabled || loadingBrainvisualizerPanel ||
                                          (stateService.currentState === STATE.HALTED) ||
                                          (stateService.currentState === STATE.STOPPED) ||
                                          (stateService.currentState === STATE.FAILED)}"
                 ng-click="toggleBrainvisualizer()"
                 help-tooltip="BRAIN_VISUALIZER"
                 tooltip-trigger="mouseenter"
            >
                <img src="img/esv/brainvisualizer.png" width=32 height=32>
            </div>
            <!-- brain visualizer icon-->

            <!-- video streams icon -->
            <div class="hbp-toolbar-action hide-overflow"
                 ng-class="{  'active': showVideoStreams,
                              'disabled-image-with-events': !videoStreamsAvailable}"
                 ng-click="videoStreamsToggle()"
                 help-tooltip="SERVER_VIDEO_STREAM"
                 tooltip="No video stream available"
                 tooltip-trigger="mouseenter"
                 tooltip-enable="!videoStreamsAvailable">
                <img src="img/esv/videostream_icon.png" width=31 height=31>
            </div>
            <!-- video streams icon -->
        </div>

            <!-- log console icon -->
            <div class="hbp-toolbar-action hide-overflow"
                 ng-class="{'active': showLogConsole}"
                 ng-click="logConsoleButtonClickHandler()"
                 help-tooltip="LOG_CONSOLE">
                <i class="fa fa-terminal fa-2x vertcenter"></i>
                <div ng-if="missedConsoleLogs" class="missed-console-badge missed-console-number-{{missedConsoleLogs<=9}}" ng-class="'missed-console-badge-count-'+(missedConsoleLogs%2)">
                    <div ng-if="missedConsoleLogs<=9">{{missedConsoleLogs}}</div>
                    <div ng-if="missedConsoleLogs>9">...</div>
                </div>
            </div>
            <!-- log console icon -->

        <!-- owner information -->
        <div ng-if="userContextService.isOwner() === false"
             class="hbp-toolbar-large-tool-two-lines default-cursor"
             help-tooltip="OWNER_DISPLAY">View-Only Mode<br/>Owner: {{owner}}</div>
        <!-- owner information -->

        <!-- #### The following will be aligned on the right side (in reverse order) #### -->
        <!-- exit button -->
        <div class="hbp-toolbar-action right-align hide-overflow"
             help-tooltip="EXIT_BUTTON"
             ng-click="exit()">
            <i class="fa fa-sign-out fa-2x vertcenter"></i>
        </div>
        <!-- exit button -->
        <!-- toolbar help icon -->
        <div class="hbp-toolbar-action right-align hide-overflow" ng-click="helpTooltipService.toggleVisibility()">
            <i class="fa fa-question-circle fa-2x vertcenter" ng-class="{active: helpTooltipService.visible}"></i>
        </div>
        <!-- toolbar help icon -->

        <!-- environment settings panel -->
        <div ng-if="userContextService.isOwner()" class="hbp-toolbar-action right-align hide-overflow"
             ng-class="{'active': showEnvironmentSettingsPanel, disabled: environmentSettingsIsDisabled || loadingEnvironmentSettingsPanel}"
             ng-click="environmentSettingsClickHandler()"
             help-tooltip="ENVIRONMENT_SETTINGS"
             v-busy="loadingEnvironmentSettingsPanel"
             v-busy-label="Loading the environment settings panel">
            <img src="img/esv/settings.png" width=28 height=28>
        </div>
        <!-- environment settings panel -->


    </div>
</div>
<!-- overlay -->
