<!-- build:css(.tmp) styles/esv/editor-toolbar.css -->
<link rel="stylesheet" href="components/editor-toolbar/editor-toolbar.style.css" />
<!-- endbuild -->

<!-- overlay -->
<div id="overlay" class="esv-overlay noselect" ng-if="!vm.userContextService.demoWaitingForNextSimulation">
    <div class="hbp-toolbar" ng-mousedown="vm.contextMenuState.toggleContextMenu(false, $event);">
        <div ng-if="vm.userContextService.isOwner() && vm.stateService.currentState === vm.STATE.PAUSED"
             class="hbp-toolbar-action"
             ng-disabled="vm.stateService.statePending"
             help-tooltip="PLAY_BUTTON"
             ng-click="vm.simControlButtonHandler(vm.STATE.STARTED)">
            <i class="glyphicon glyphicon-play"></i>
        </div>
        <div ng-if="vm.userContextService.isOwner()"
             class="hbp-toolbar-action ng-hide"
             ng-disabled="vm.stateService.statePending"
             help-tooltip="PAUSE_BUTTON"
             ng-click="vm.simControlButtonHandler(vm.STATE.PAUSED)"
             ng-show="(vm.stateService.currentState === vm.STATE.STARTED)">
            <i class="glyphicon glyphicon-pause"></i>
        </div>
        <div ng-if="vm.userContextService.isOwner()"
             class="hbp-toolbar-action ng-hide"
             ng-disabled="vm.stateService.statePending"
             help-tooltip="STOP_BUTTON"
             ng-click="vm.simControlButtonHandler(vm.STATE.STOPPED)"
             ng-show="(vm.stateService.currentState !== vm.STATE.STOPPED) &&
                          (vm.stateService.currentState !== vm.STATE.FAILED)">
            <i class="glyphicon glyphicon-stop"></i>
        </div>
        <div ng-if="vm.userContextService.isOwner()"
             class="hbp-toolbar-action ng-hide"
             ng-disabled="vm.stateService.statePending"
             help-tooltip="RESET_BUTTON"
             ng-click="vm.resetButtonClickHandler()"
             ng-show="(vm.stateService.currentState !== vm.STATE.STOPPED) &&
                          (vm.stateService.currentState !== vm.STATE.HALTED) &&
                          (vm.stateService.currentState !== vm.STATE.FAILED)">
            <i class="glyphicon glyphicon glyphicon-repeat"></i>
        </div>
        <div>
            <div class="hbp-toolbar-large-tool hbp-time-display default-cursor"
                 ng-class="{ 'disabled': (vm.stateService.currentState === vm.STATE.HALTED) ||
                                          (vm.stateService.currentState === vm.STATE.STOPPED) ||
                                          (vm.stateService.currentState === vm.STATE.FAILED)}"
                 help-tooltip="TIME_DISPLAY">
                <div ng-show="(vm.stateService.currentState === vm.STATE.INITIALIZED) || (vm.stateService.currentState === vm.STATE.STARTED) || (vm.stateService.currentState === vm.STATE.PAUSED)">
                    <div>
                        <span>Simulation time:</span><br/>
                        <span>Real time:</span><br/>
                        <span ng-style="{ color: vm.simulationInfo.simTimeoutText !== undefined && vm.simulationInfo.simTimeoutText < 300 ? 'red' : '' }">Timeout:</span>
                    </div>
                    <div>
                        <span id="simTime">{{vm.simulationInfo.simulationTimeText | timeDDHHMMSS}}</span><br/>
                        <span id="realTime">{{vm.simulationInfo.realTimeText | timeDDHHMMSS}}</span><br/>
                        <span ng-style="{ color: vm.simulationInfo.simTimeoutText !== undefined && vm.simulationInfo.simTimeoutText < 300 ? 'red' : '' }">{{vm.simulationInfo.simTimeoutText | timeDDHHMMSS}}</span>
                    </div>
                </div>
                <div ng-show="vm.stateService.currentState === vm.STATE.HALTED">
                    <div>
                        <span>An exception occurred in the simulation.</span><br />
                        <span>The simulation needs to be terminated.</span>
                    </div>
                </div>
            </div>

            <!-- global lights -->
            <div ng-if="vm.userContextService.isOwner()" class="hbp-toolbar-light-icon vertcenter hbp-toolbar-item"
                 ng-class="{'disabled': (vm.stateService.currentState === vm.STATE.HALTED) ||
                                          (vm.stateService.currentState === vm.STATE.STOPPED) ||
                                          (vm.stateService.currentState === vm.STATE.FAILED)}">

                <i ng-class="{'disabled-image': vm.gz3d.isGlobalLightMinReached()}" class="hbp-toolbar-light-min fa fa-lightbulb-o fa-1x vertcenter"></i>
                <div class="hbp-toolbar-light-divbar"></div>
                <i ng-class="{'disabled-image': vm.gz3d.isGlobalLightMaxReached()}" class="hbp-toolbar-light-max fa fa-lightbulb-o fa-2x vertcenter"></i>

                <div class="hbp-toolbar-light-left-click" help-tooltip="DECREASE_LIGHT" ng-click="vm.modifyLightClickHandler(-1)"></div>
                <div class="hbp-toolbar-light-right-click" help-tooltip="INCREASE_LIGHT" ng-click="vm.modifyLightClickHandler(1)"></div>

            </div>
            <!-- global lights -->

            <!-- camera translation tool -->
            <div class="hbp-toolbar-item hidden-xs hidden-sm esv-remove-from-touchscreen hbp-camera-tool-container"
                 help-tooltip="CAMERA_TRANSLATION">
                <div class="hbp-camera-tool-controls">
                    <div class="hbp-camera-tool-controls-overlay"><img src="img/esv/translation_icon.png" width=32 height=32></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"
                         ng-mousedown="vm.requestMove($event, 'moveUp');"
                         ng-mouseup="vm.releaseMove($event, 'moveUp')"
                         ng-mouseleave="vm.releaseMove($event, 'moveUp')"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"
                         ng-mousedown="vm.requestMove($event, 'moveForward');"
                         ng-mouseup="vm.releaseMove($event, 'moveForward');"
                         ng-mouseleave="vm.releaseMove($event, 'moveForward')"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"
                         ng-mousedown="vm.requestMove($event, 'moveLeft');"
                         ng-mouseup="vm.releaseMove($event, 'moveLeft');"
                         ng-mouseleave="vm.releaseMove($event, 'moveLeft')"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"
                         ng-mousedown="vm.requestMove($event, 'initPosition');"
                         ng-mouseup="vm.releaseMove($event, 'initPosition');"
                         ng-mouseleave="vm.releaseMove($event, 'initPosition')"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"
                         ng-mousedown="vm.requestMove($event, 'moveRight');"
                         ng-mouseup="vm.releaseMove($event, 'moveRight');"
                         ng-mouseleave="vm.releaseMove($event, 'moveRight')"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"
                         ng-mousedown="vm.requestMove($event, 'moveBackward');"
                         ng-mouseup="vm.releaseMove($event, 'moveBackward');"
                         ng-mouseleave="vm.releaseMove($event, 'moveBackward')"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"
                         ng-mousedown="vm.requestMove($event, 'moveDown');"
                         ng-mouseup="vm.releaseMove($event, 'moveDown');"
                         ng-mouseleave="vm.releaseMove($event, 'moveDown')"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"><img src="img/esv/empty.png"></div>
                </div>
            </div>
            <!-- camera translation tool -->

            <!-- camera rotation tool -->
            <div class="hbp-toolbar-item hidden-xs hidden-sm esv-remove-from-touchscreen hbp-camera-tool-container"
                 help-tooltip="CAMERA_ROTATION">
                <div class="hbp-camera-tool-controls">
                    <div class="hbp-camera-tool-controls-overlay"><img src="img/esv/rotation_icon.png" width=32 height=32></div>
                    <!-- in each flex little box, we put an 1 pixel image, else the box has a null size. And on Firefox, <img/> is not working -->
                    <div class="fa hbp-camera-tool-controls-grid-third"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"
                         ng-mousedown="vm.requestMove($event, 'rotateUp');"
                         ng-mouseup="vm.releaseMove($event, 'rotateUp');"
                         ng-mouseleave="vm.releaseMove($event, 'rotateUp')"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"
                         ng-mousedown="vm.requestMove($event, 'rotateLeft');"
                         ng-mouseup="vm.releaseMove($event, 'rotateLeft');"
                         ng-mouseleave="vm.releaseMove($event, 'rotateLeft')"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"
                         ng-mousedown="vm.requestMove($event, 'initRotation');"
                         ng-mouseup="vm.releaseMove($event, 'initRotation');"
                         ng-mouseleave="vm.releaseMove($event, 'initRotation')"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"
                         ng-mousedown="vm.requestMove($event, 'rotateRight');"
                         ng-mouseup="vm.releaseMove($event, 'rotateRight');"
                         ng-mouseleave="vm.releaseMove($event, 'rotateRight')"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"
                         ng-mousedown="vm.requestMove($event, 'rotateDown');"
                         ng-mouseup="vm.releaseMove($event, 'rotateDown');"
                         ng-mouseleave="vm.releaseMove($event, 'rotateDown')"><img src="img/esv/empty.png"></div>
                    <div class="fa hbp-camera-tool-controls-grid-third"><img src="img/esv/empty.png"></div>
                </div>
            </div>
            <!-- camera rotation tool -->

            <!-- toggle spiketrain -->
            <div class="hbp-toolbar-action ng-hide"
                 ng-class="{'active': vm.editorToolbarService.isSpikeTrainActive}"
                 help-tooltip="SPIKE_TRAIN"
                 ng-click="vm.spikeTrainButtonClickHandler()"
                 ng-show="(vm.stateService.currentState === vm.STATE.STARTED) || (vm.stateService.currentState === vm.STATE.PAUSED) || (vm.stateService.currentState === vm.STATE.INITIALIZED)">
                <img src="img/esv/spiketrain_logo.png">
            </div>
            <!-- toggle spiketrain -->

            <!-- toggle jointPlot -->
            <div class="hbp-toolbar-action ng-hide"
                 ng-click="vm.createDynamicOverlay(vm.DYNAMIC_VIEW_CHANNELS.JOINT_PLOT)"
                 help-tooltip="JOINT_PLOT"
                 ng-show="(vm.stateService.currentState === vm.STATE.STARTED) || (vm.stateService.currentState === vm.STATE.PAUSED) || (vm.stateService.currentState === vm.STATE.INITIALIZED)">
                <img src="img/esv/jointplot_logo.png">
            </div>
            <!-- toggle jointPlot -->

            <!-- toggle robot camera view --><!-- todo: check if tooltip-enable="!hasCameraView" is valid, think it should be like "!environmentRenderingService.hasCameraView()" (Sven, Sandro)-->
            <div class="hbp-toolbar-action hide-overflow ng-hide"
                 ng-class="{'active': vm.editorToolbarService.isRobotCameraViewActive, 'disabled-image-with-events': !vm.environmentRenderingService.hasCameraView()}"
                 ng-click="vm.robotViewButtonClickHandler()"
                 help-tooltip="ROBOT_VIEW"
                 tooltip="No camera is available"
                 tooltip-trigger="mouseenter"
                 tooltip-enable="!vm.environmentRenderingService"
                 ng-show="(vm.stateService.currentState === vm.STATE.STARTED) || (vm.stateService.currentState === vm.STATE.PAUSED) || (vm.stateService.currentState === vm.STATE.INITIALIZED)">
              <i class="fa fa-eye fa-2x vertcenter"></i>
            </div>
            <!-- toggle robot camera view -->


            <!-- navigation mode -->
            <div class="hbp-toolbar-action ng-hide"
                 ng-class="{'active': vm.editorToolbarService.isNavigationModeMenuActive}"
                 ng-click="vm.navigationModeMenuClickHandler()"
                 help-tooltip="USER_NAVIGATION"
                 ng-show="(vm.stateService.currentState === vm.STATE.STARTED) || (vm.stateService.currentState === vm.STATE.PAUSED) || (vm.stateService.currentState === vm.STATE.INITIALIZED)">
                <i class="fa fa-compass fa-2x vertcenter"></i>
                <div show-on-top ng-show="vm.editorToolbarService.isNavigationModeMenuActive" style="position: absolute; width: 42px; margin-top: -169px; background-color: lightgrey;">
                    <div  class="hbp-toolbar-action hide-overflow"
                          ng-class="{'active': vm.userNavigationService.isActiveNavigationMode(vm.NAVIGATION_MODES.HUMAN_BODY), 'disabled-image': vm.stateService.currentState === vm.STATE.PAUSED}"
                          ng-click="vm.setNavigationMode(vm.NAVIGATION_MODES.HUMAN_BODY)">
                        <i class="fa fa-male fa-2x vertcenter"></i>
                    </div>

                    <div class="hbp-toolbar-action hide-overflow"
                        ng-class="{'active': vm.userNavigationService.isActiveNavigationMode(vm.NAVIGATION_MODES.LOOKAT_ROBOT)}"
                        ng-click="vm.setNavigationMode(vm.NAVIGATION_MODES.LOOKAT_ROBOT);">
                        <img src="img/esv/lookatrobot_icon.png" width=32 height=32>
                    </div>

                    <div class="hbp-toolbar-action hide-overflow"
                         ng-class="{'active': vm.userNavigationService.isActiveNavigationMode(vm.NAVIGATION_MODES.FREE_CAMERA)}"
                         ng-click="vm.setNavigationMode(vm.NAVIGATION_MODES.FREE_CAMERA)">
                        <i class="fa fa-video-camera fa-2x vertcenter"></i>
                    </div>
                </div>
            </div>
            <!-- navigation mode -->

            <!-- code editor icon -->
            <div class="hbp-toolbar-action hide-overflow"
                 ng-class="{ 'active': vm.editorsPanelService.showEditorPanel,
                              'disabled': vm.userContextService.editIsDisabled || vm.editorsPanelService.loadingEditPanel ||
                                          (vm.stateService.currentState === vm.STATE.HALTED) ||
                                          (vm.stateService.currentState === vm.STATE.STOPPED) ||
                                          (vm.stateService.currentState === vm.STATE.FAILED)}"
                 ng-click="vm.codeEditorButtonClickHandler()"
                 help-tooltip="CODE_EDITOR"
                 tooltip="Sorry, you cannot edit at the moment as {{userEditing}} started editing {{timeEditStarted}}."
                 tooltip-trigger="mouseenter"
                 tooltip-enable="vm.userContextService.editIsDisabled"
                 v-busy="vm.editorsPanelService.loadingEditPanel"
                 v-busy-label="Loading the edit panel">
                <i class="fa fa-pencil-square-o fa-2x vertcenter"></i>
            </div>
            <!-- code editor icon -->

            <!-- brain visualizer icon -->
            <div class="hbp-toolbar-action hide-overflow"
                 ng-class="{  'active': vm.editorToolbarService.showBrainvisualizerPanel,
                              'disabled': (vm.stateService.currentState === vm.STATE.HALTED) ||
                                          (vm.stateService.currentState === vm.STATE.STOPPED) ||
                                          (vm.stateService.currentState === vm.STATE.FAILED)}"
                 ng-click="vm.toggleBrainvisualizer()"
                 help-tooltip="BRAIN_VISUALIZER"
                 tooltip-trigger="mouseenter"
            >
                <img src="img/esv/brainvisualizer.png" width=32 height=32>
            </div>
            <!-- brain visualizer icon-->

            <!-- video streams icon -->
            <div class="hbp-toolbar-action hide-overflow"
                 ng-class="{  'active': vm.showVideoStreams,
                              'disabled-image-with-events': !vm.editorToolbarService.videoStreamsAvailable}"
                 ng-click="vm.videoStreamsToggle()"
                 help-tooltip="SERVER_VIDEO_STREAM"
                 tooltip="No video stream available"
                 tooltip-trigger="mouseenter"
                 tooltip-enable="!vm.editorToolbarService.videoStreamsAvailable">
                <img src="img/esv/videostream_icon.png" width=31 height=31>
            </div>
            <!-- video streams icon -->
        </div>

            <!-- log console icon -->
            <div class="hbp-toolbar-action hide-overflow"
                 ng-class="{'active': vm.editorToolbarService.isLogConsoleActive}"
                 ng-click="vm.logConsoleButtonClickHandler()"
                 help-tooltip="LOG_CONSOLE">
                <i class="fa fa-terminal fa-2x vertcenter"></i>
                <div ng-if="vm.editorToolbarService.missedConsoleLogs"
                     class="missed-console-badge missed-console-number-{{vm.editorToolbarService.missedConsoleLogs<=9}}" ng-class="'missed-console-badge-count-'+(vm.editorToolbarService.missedConsoleLogs%2)">
                    <div ng-if="vm.editorToolbarService.missedConsoleLogs<=9">{{vm.editorToolbarService.missedConsoleLogs}}</div>
                    <div ng-if="vm.editorToolbarService.missedConsoleLogs>9">...</div>
                </div>
            </div>
            <!-- log console icon -->

        <!-- owner information -->
        <div ng-if="vm.userContextService.isOwner() === false"
             class="hbp-toolbar-large-tool-two-lines default-cursor"
             help-tooltip="OWNER_DISPLAY">View-Only Mode<br/>Owner: {{owner}}</div>
        <!-- owner information -->

        <!-- #### The following will be aligned on the right side (in reverse order) #### -->
        <!-- exit button -->
        <div class="hbp-toolbar-action right-align hide-overflow"
             help-tooltip="EXIT_BUTTON"
             ng-click="vm.exit()">
            <i class="fa fa-sign-out fa-2x vertcenter"></i>
        </div>
        <!-- exit button -->
        <!-- toolbar help icon -->
        <div class="hbp-toolbar-action right-align hide-overflow" ng-click="vm.helpTooltipService.toggleHelp()">
            <i class="fa fa-question-circle fa-2x vertcenter" ng-class="{active: vm.helpTooltipService.visible == helpTooltipService.HELP}"></i>
        </div>

        <div class="hbp-toolbar-action right-align hide-overflow"
             help-tooltip="INFO_BUTTON"
             dont-stop-propagation
             ng-click="vm.helpTooltipService.toggleInfo()">
            <i class="fa fa-info-circle fa-2x vertcenter" ng-class="{active: vm.helpTooltipService.visible == helpTooltipService.INFO}"></i>
        </div>
        <!-- toolbar help icon -->

        <!-- environment settings panel -->
        <div class="hbp-toolbar-action right-align hide-overflow"
             ng-class="{'active': vm.editorToolbarService.isEnvironmentSettingsPanelActive, disabled: vm.environmentRenderingService.loadingEnvironmentSettingsPanel}"
             ng-click="vm.environmentSettingsClickHandler()"
             help-tooltip="ENVIRONMENT_SETTINGS"
             v-busy="vm.environmentRenderingService.loadingEnvironmentSettingsPanel"
             v-busy-label="Loading the environment settings panel">
            <img src="img/esv/settings.png" width=28 height=28>
        </div>
        <!-- environment settings panel -->


    </div>
</div>
<!-- overlay -->
