
.esv-brainvisualizer-wrapper
{
    width: 100%;
    height: 100%;
    margin: 5px 5px;
    padding: 0px;
    position: static; /* fixed or static */
}

.esv-brainvisualizer-ui
{
  float: right;
  width: 180px;
  margin-right: -5px;
}

.esv-brainvisualizer-main
{
    float: left;
    width: calc(100% - 180px);
    height: 100%;
    border: 1px solid black;

    background-color: #1A8FCF;
    margin: 0px;
    overflow: hidden;
    background-image: -webkit-gradient(#002244,#000000);
    /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
    background-image: -webkit-linear-gradient(#002244,#000000);
    /* Firefox 3.6 - 15 */
    background-image: -moz-linear-gradient(#002244,#000000);
    /* Opera 11.1 - 12 */
    background-image: -o-linear-gradient(#002244,#000000);
    /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
    background-image: linear-gradient(#002244,#000000);
}