@import "pop-over-viewer.scss";

$editorPanelStartWidth: 750px;
$editorPanelStartHeight: 500px;
$editorPanelMinWidth: 100px;
$editorPanelMinHeight: 75px;
$editorPanelHeadingHeight: 25px;
$editorPanelHeadingMargin: 5px;
$editorPanelHeadingHeightTotal: $editorPanelHeadingHeight + 2 * $editorPanelHeadingMargin;

.editor-panel-widget {
  @extend .pop-over-viewer;
  display: flex !important;
  top: 2%;
  left: 2%;
  width: $editorPanelStartWidth;
  height: $editorPanelStartHeight;
  min-width: $editorPanelMinWidth;
  min-height: $editorPanelMinHeight;
  background: white;

  .editor-panel-close {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .editor-panel-header {
    position: absolute;
    width: 80%;
    width: calc(100% - 50px);
    height: $editorPanelHeadingHeight;
    margin: $editorPanelHeadingMargin;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #e1e1e1;
    background: #f8f8f8;
  }

  .editor-panel-title {
    padding-left: 10px;
    margin: $editorPanelHeadingMargin;
  }

  .editor-panel-content {
    overflow: auto;
    width: 100%;
    padding: 10px;
    margin: $editorPanelHeadingHeightTotal 10px 10px 10px;
  }

  .button-close {
    position: absolute;
    top: 5px;
    right: 5px;
  }

}

  /* http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting */
.noselect {
   cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
   user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}