/* Experiment Simulation Viewer */
/* Flexbox Layout to cover the complete browser window */
html {
  height: 100%;
}

/* http://stackoverflow.com/questions/26895349/how-can-i-get-ff-33-x-flexbox-behavior-in-ff-34-x */
* { min-height:0 }
* { min-width:0 }

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
}

body > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  min-width: 100%;
}

.esv-flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 100%;
}

.esv-flex-greedy-element {
  flex: 1;
}

.keyboard-control-info {
  position: absolute;
  top: 100px;
  right: 50px;
  background:rgba(61, 235, 242, 0.5);
  background-image: url('../../img/esv/keyboard-control.svg');
  background-size: 95% 95%;
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 175px;
  border-radius: 8px;
  border-color: black;
  border: 2px solid;
  transition: 0.5s linear all;
  opacity: 1;
}

.keyboard-control-info.ng-hide {
  opacity: 0;
}
