@import "widget-popup.scss";
@font-face {
    font-family: 'Inconsolata';
    src: url('../fonts/Inconsolata.otf') format('opentype');
}

.log-console-popup {
    .widget-popup-content {
        font-family: Inconsolata;

        b{
            display: inline-block;
        }

        .log-line > span{
            display: inline-block;
        }

        .log-line > span:first-child{
            height: 100%;
            vertical-align: top;
            margin-right: 10px;
        }

         .log-line > span:last-child{
           white-space: pre-line;
        }
    }
}