@import "pop-over-viewer.scss";

$objectInspectorMinWidth: 360px;
$objectInspectorMinHeight: 380px;

.object-inspector-widget {
  @extend .pop-over-viewer;
  display: flex !important;
  top: 2%;
  left: unset;
  right: 2%;
  width: $objectInspectorMinWidth;
  height: $objectInspectorMinHeight;
  min-width: $objectInspectorMinWidth;
  min-height: $objectInspectorMinHeight;

  .selected-object-name {
    text-align: center;
  }

  .sections-list {
    position: relative;
    list-style-type: none;
    padding: 0px;
    width: 100%;

    .section-item {
      display: block;
      border-bottom: thin solid black;
      padding: 10px;

      .sub-sections-list {
        list-style-type: none;
        padding: 0px;

        .sub-section-item {
          display: block;
          padding: 5px;
        }
      }

      .transform-elements-list {
        list-style-type: none;
        padding-left: 0px;

        .transform-elements-listitem {
          display: inline;
          margin-right: 5px;

          .vec3-num-input-list {
            display: inline;
            list-style-type: none;
            padding-left: 0px;

            .vec3-num-input-item {
              display: inline;

              .vec3-num-input {
                min-width: 50px;
                width: 29%;
              }

              #oi-translate-x {
                border-bottom: 2px solid red;
              }

              #oi-translate-y {
                border-bottom: 2px solid green;
              }

              #oi-translate-z {
                border-bottom: 2px solid blue;
              }

              #oi-rot-euler-x {
                border-bottom: 2px solid red;
              }

              #oi-rot-euler-y {
                border-bottom: 2px solid green;
              }

              #oi-rot-euler-z {
                border-bottom: 2px solid blue;
              }
            }
          }
        }
      }

      .input-radio-check {
        margin-left: 5px;
        margin-right: 2px;
      }
    }
  }

  .button-close {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .btn-rounded {
    box-shadow: inset -2px -2px 10px 0px rgba(0,0,0,0.2);
  }

  .btn-rounded:active,
  .btn-rounded.active {
    box-shadow: inset 3px 3px 10px 0px rgba(0,0,0,0.3);
  }
}
