pynn-editor input[type="text"] {
    margin-left: 5px;
}
pynn-editor input.ng-invalid { color: red; }
pynn-editor input.neuron-index-field { width: 70px; }
pynn-editor div.fixed-sized { width: 110px; }
pynn-editor div.fixed-sized-short { width: 95px; }
