.resize-buttons {
  width: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.resize-button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: solid;
  border-top: solid;
  border-width: 1px;
  border-color: black;
  cursor: pointer;

  &:hover {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
  }
}

.resize-button.first-element {
  border-top: none;
}

.rotate-45-clockwise {
  transform: rotate(45deg);
}

.rotate-45-counterclockwise {
  transform: rotate(-45deg);
}
