<div class="exd-model-selection-box">
    <!-- If the dialog is open and the user hover a valid entity, then we displayed the hovered entity. -->
    <div ng-show="hoveredEntity!==undefined && dialogOpen" class="exd-model-description-box">
        <div ng-show="hoveredEntity!==undefined && dialogOpen" class="hbp-sidebar hbp-sidebar-yscroll fadein fadeout">
            <div class="hbp-sidebar-panel">
                <div class="hbp-sidebar-title">{{input.title}}: {{hoveredEntity.nrpName}} 
                    <span class="text-success pull-right">
                        <span class="glyphicon glyphicon-ok"></span>         
                    </span>
                </div>
                <div class="hbp-sidebar-panel-content">
                    <p>{{hoveredEntity.nrpDescription}}</p>
                    <img src={{hoveredEntity.thumbnailUrl}} class="img-thumbnail exd-model-img-thumbnail">
                </div>
            </div>
        </div>
    </div>
    <!-- If the dialog is close and the user did not yet select anything, then we disay the default text and image. -->
    <!-- If the dialog is open and the user hover a non valid entity, then we disay the default text and image. -->
    <div ng-show="(hoveredEntity===undefined  && dialogOpen) || (!dialogOpen && input.selectedEntity===undefined)" class="exd-model-description-box">
        <div ng-show="(hoveredEntity===undefined && dialogOpen) || (!dialogOpen && input.selectedEntity===undefined)" class="hbp-sidebar hbp-sidebar-yscroll fadein fadeout" >
            <div class="hbp-sidebar-panel">
                <div class="hbp-sidebar-title text-muted">{{input.title}} 
                    <span class="text-warning pull-right">
                        <span class="glyphicon glyphicon-warning-sign text-warning"></span> 
                        Select one !
                    </span>
                </div>
                <div class="hbp-sidebar-panel-content text-muted">
                    <p>{{input.description}}</p>
                    <img src="{{imageDefaultThumbnail}}" class="img-thumbnail exd-model-img-thumbnail">
                </div>
            </div>
        </div>
    </div>
    <!-- If the dialog is close and the user has already selected a valid entity, then we disay the selected entity. -->
    <div ng-show="!dialogOpen && input.selectedEntity!==undefined" class="exd-model-description-box">
        <div ng-show="!dialogOpen && input.selectedEntity!==undefined" class="hbp-sidebar hbp-sidebar-yscroll fadein fadeout">
            <div class="hbp-sidebar-panel">
                <div class="hbp-sidebar-title">{{input.title}}: {{input.selectedEntity.nrpName}} 
                    <span class="text-success pull-right">
                        <span class="glyphicon glyphicon-ok"></span>         
                    </span>
                </div>
                <div class="hbp-sidebar-panel-content">
                    <p>{{input.selectedEntity.nrpDescription}}</p>
                    <img src={{input.selectedEntity.thumbnailUrl}} class="img-thumbnail exd-model-img-thumbnail">
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown" ng-class="{open: dialogOpen}">
        <div class="input-group">
            <input class="form-control exd-model-selection" ng-focus="openDialog()" ng-model="input.selectedEntity._name" ng-required="true" readonly>
            <span class="input-group-btn">
                <span ng-click="toggleDialog()" class="btn btn-default">
                    <i class="glyphicon glyphicon-folder-open"></i>
                </span>
                <span ng-show="input.selectedEntity!=undefined" ng-click="unselectEntity()" class="btn btn-default">
                    <i class="glyphicon glyphicon-remove"></i>
                </span>
            </span>
        </div>
        <div class="dropdown-menu bbp-uri-select-dropdown" role="menu">
            <hbp-mini-browser hbp-hovered="hovered" hbp-selectable="selectable" hbp-browsable="browsable" hbp-selection="selectEntity" hbp-current-entity="input.entity"></hbp-mini-browser>
        </div>
    </div>
</div>