<!-- build:css(.tmp) styles/esv/environment-settings-panel.css -->
<link rel="stylesheet" href="components/environment-settings/environment-settings-panel.style.css" />
<!-- endbuild -->

<div resizeable="true" show-on-top movable movable-anchor=".environment-settings-panel-header" class="environment-settings-panel-widget noselect ng-hide" ng-show="editorToolbarService.showEnvironmentSettingsPanel"
  ng-controller="environmentSettingsPanelCtrl" ng-keydown="suppressKeyPress($event)">
  <div class="environment-settings-panel-header" >
    <h5 class="environment-settings-panel-title">3D Environment Settings</h5>
  </div>

  <div class="environment-settings-panel-bottom" ng-hide="activeTabIndex === tabindex.master">

  <div class="environment-settings-panel-bottom_buttons">

      <button type="button" class="btn btn-default"
            ng-click="resetSettings()"
            ng-mouseup="$event.stopPropagation(); focus('container');">

            <i class="glyphicon glyphicon-repeat"></i>
            <span> Reset Settings</span>
      </button>

      <button type="button" class="btn btn-default"
            ng-click="saveSettings()"
            owner-only
            ng-disabled="!isPrivateExperiment"
            ng-mouseup="$event.stopPropagation(); focus('container');">
            <i class="glyphicon glyphicon-download"></i>
            <span>Save Settings</span>
      </button>

    </div>
  </div>

  <div class="environment-settings-panel-content">

    <uib-tabset active="activeTabIndex">
      <uib-tab heading="Master" index="tabindex.master">
        <environment-settings-master></environment-settings-master>
      </uib-tab>

      <uib-tab heading="Quality" index="tabindex.quality">
        <environment-settings-quality></environment-settings-quality>
      </uib-tab>

      <uib-tab heading="Environment" index="tabindex.environment">
        <environment-settings-environment></environment-settings-environment>
        </uib-tab>

      <uib-tab heading="Color Correction" index="tabindex.color">
        <environment-settings-colors></environment-settings-colors>
      </uib-tab>

      <uib-tab heading="User camera" index="tabindex.usercamera">
        <environment-settings-usercamera></environment-settings-usercamera>
      </uib-tab>
    </uib-tabset>

  </div>

  <button type="button" class="button-close" data-ng-click="closePanel()">×</button>


</div>

