<!-- build:css(.tmp) styles/esv/environment-settings.css -->
<link rel="stylesheet" href="components/environment-settings/environment-settings-quality.style.css" />
<!-- endbuild -->

<h3>Quality Settings</h3>
<p>You can change the level of quality of the 3D scene using the following settings: </p>

<hr class="environment-settings-hr" >

<label ng-class="{'environment-settings-panel-disabled-label':!gz3d.scene.isSupportedByMasterSetting('shadows')}">
    <input class="environment-settings-checkbox"
    type="checkbox"
     ng-model="renderShadows"
     ng-disabled="!gz3d.scene.isSupportedByMasterSetting('shadows')"
    ng-change="updateEnvQualitySettings()">Shadows</label>

<br>

<hr class="environment-settings-hr" >

<label  ng-class="{'environment-settings-panel-disabled-label':!gz3d.scene.isSupportedByMasterSetting('pbrMaterial')}">
    <input class="environment-settings-checkbox" type="checkbox"
     ng-model="renderPBR"
     ng-disabled="!gz3d.scene.isSupportedByMasterSetting('pbrMaterial')"
    ng-change="updateEnvQualitySettings()">Physically Based Rendering (PBR)</label>

<br>

<hr class="environment-settings-hr" >

<label  ng-class="{'environment-settings-panel-disabled-label':!gz3d.scene.isSupportedByMasterSetting('ssao')}">
    <input class="environment-settings-checkbox" type="checkbox"
     ng-model="renderAmbientOcclusion"
     ng-disabled="!gz3d.scene.isSupportedByMasterSetting('ssao')"
    ng-change="updateEnvQualitySettings()">Ambient Occlusion</label>

<br>

<div class="environment-settings-option-subblock" ng-show="renderAmbientOcclusion && gz3d.scene.isSupportedByMasterSetting('ssao')">

    <label>Clamp

    <input class="esv-envsettings-slider" type="range" ng-change="updateEnvQualitySettings()" ng-model="ambientOcclusionClamp"
        step="0.01" min="0" max="1.0" ng-mouseup="$event.stopPropagation(); focus('container');"/>

    </label>

    <label>Luminosity

    <input class="esv-envsettings-slider" type="range" ng-change="updateEnvQualitySettings()" ng-model="ambientOcclusionLum"
        step="0.01" min="0" max="1.0" ng-mouseup="$event.stopPropagation(); focus('container');"/>

</label>

</div>


<hr class="environment-settings-hr" >

<label  ng-class="{'environment-settings-panel-disabled-label':!gz3d.scene.isSupportedByMasterSetting('antiAliasing')}">
    <input class="environment-settings-checkbox" type="checkbox"
     ng-model="antiAliasingEnabled"
     ng-disabled="!gz3d.scene.isSupportedByMasterSetting('antiAliasing')"
    ng-change="updateEnvQualitySettings()">Anti-aliasing</label>


