<!-- build:css(.tmp) styles/esv/environment-settings-panel.css -->
<link rel="stylesheet" href="components/environment-settings/environment-settings-panel.style.css" />
<!-- endbuild -->

<div resizeable show-on-top movable movable-anchor=".environment-settings-panel-header" class="environment-settings-panel-widget noselect ng-hide" ng-show="editorToolbarService.showEnvironmentSettingsPanel"
  ng-controller="environmentSettingsPanelCtrl" ng-keydown="suppressKeyPress($event)">
  <div class="environment-settings-panel-header" >
    <h5 class="environment-settings-panel-title">3D Environment Settings</h5>
  </div>

  <div class="environment-settings-panel-bottom" ng-hide="activeTab.master">

  <div class="environment-settings-panel-bottom_buttons">

      <button type="button" class="btn btn-default"
            ng-click="resetSettings()"
            ng-mouseup="$event.stopPropagation(); focus('container');">

            <i class="glyphicon glyphicon-repeat"></i>
            <span> Reset Settings</span>
      </button>

      <button type="button" class="btn btn-default"
            ng-click="saveSettings()"
            owner-only
            ng-disabled="!isPrivateExperiment || !simulationInfo.contextID"
            ng-mouseup="$event.stopPropagation(); focus('container');">
            <i class="glyphicon glyphicon-download"></i>
            <span>Save Settings</span>
      </button>

    </div>
  </div>

  <div class="environment-settings-panel-content">

    <tabset>
      <tab heading="Master" active="activeTab.master">
        <environment-settings-master></environment-settings-master>
      </tab>

      <tab heading="Quality" active="activeTab.quality">
        <environment-settings-quality></environment-settings-quality>
      </tab>

      <tab heading="Environment" active="activeTab.environment">
        <environment-settings-environment></environment-settings-environment>
        </tab>

      <tab heading="Color Correction" active="activeTab.color">
        <environment-settings-colors></environment-settings-colors>
      </tab>
    </tabset>


  </div>

  <button type="button" class="button-close" data-ng-click="closePanel()">×</button>


</div>

