{
  "api": {
    "neurorobotics": {
      "bbpce021": {
        "gzweb": {
          "assets": "https://neurorobotics-dev.humanbrainproject.eu/cle/1/assets",
          "nrp-services": "https://neurorobotics-dev.humanbrainproject.eu/cle/1/api",
          "websocket": "wss://neurorobotics-dev.humanbrainproject.eu/cle/1/ws/gzbridge"
        },
        "rosbridge": {
          "topics": {
            "spikes": "/monitor/spike_recorder",
            "joint": "/joint_states",
            "status": "/ros_cle_simulation/status",
            "transferFunctionError": "/ros_cle_simulation/cle_error/transfer_function"
          },
          "websocket": "wss://neurorobotics-dev.humanbrainproject.eu/cle/1/ws"
        },
        "serverJobLocation": "local"
      },
      "bbpce022": {
        "gzweb": {
          "assets": "https://neurorobotics-dev.humanbrainproject.eu/cle/2/assets",
          "nrp-services": "https://neurorobotics-dev.humanbrainproject.eu/cle/2/api",
          "websocket": "wss://neurorobotics-dev.humanbrainproject.eu/cle/2/ws/gzbridge"
        },
        "rosbridge": {
          "topics": {
            "spikes": "/monitor/spike_recorder",
            "joint": "/joint_states",
            "status": "/ros_cle_simulation/status",
            "transferFunctionError": "/ros_cle_simulation/cle_error/transfer_function"
          },
          "websocket": "wss://neurorobotics-dev.humanbrainproject.eu/cle/2/ws"
        },
        "serverJobLocation": "local"
      },
      "bbpce023": {
        "gzweb": {
          "assets": "https://neurorobotics-dev.humanbrainproject.eu/cle/3/assets",
          "nrp-services": "https://neurorobotics-dev.humanbrainproject.eu/cle/3/api",
          "websocket": "wss://neurorobotics-dev.humanbrainproject.eu/cle/3/ws/gzbridge"
        },
        "rosbridge": {
          "topics": {
            "spikes": "/monitor/spike_recorder",
            "joint": "/joint_states",
            "status": "/ros_cle_simulation/status",
            "transferFunctionError": "/ros_cle_simulation/cle_error/transfer_function"
          },
          "websocket": "wss://neurorobotics-dev.humanbrainproject.eu/cle/3/ws"
        },
        "serverJobLocation": "local"
      },
      "bbpsrvc20": {
        "gzweb": {
          "assets": "https://neurorobotics-dev.humanbrainproject.eu/cle/4/assets",
          "nrp-services": "https://neurorobotics-dev.humanbrainproject.eu/cle/4/api",
          "websocket": "wss://neurorobotics-dev.humanbrainproject.eu/cle/4/ws/gzbridge"
        },
        "rosbridge": {
          "topics": {
            "spikes": "/monitor/spike_recorder",
            "joint": "/joint_states",
            "status": "/ros_cle_simulation/status",
            "transferFunctionError": "/ros_cle_simulation/cle_error/transfer_function"
          },
          "websocket": "wss://neurorobotics-dev.humanbrainproject.eu/cle/4/ws"
        },
        "serverJobLocation": "lugano"
      }
    },
    "user": {
      "v0": "https://services.humanbrainproject.eu/oidc/v0/api"
    }
  },
  "auth": {
    "clientId": "neurorobotics-ui",
    "url": "https://services.humanbrainproject.eu/oidc"
  },
  "oidc": {
    "debug": false
  }
}
