<button type="button" owner-only class="btn btn-default btn-md" ng-click="addList()">
  <i class="glyphicon glyphicon-star"></i><span> New list</span>
</button>
<button type="button" owner-only class="btn btn-default btn-md" ng-click="addSlice()">
  <i class="glyphicon glyphicon-star"></i><span> New slice</span>
</button>
<button type="button" owner-only class="btn btn-default btn-md"
        ng-click="apply(0)"
        ng-disabled="loading || stateService.statePending || !populationForm.$valid || !localBrainDirty"
        v-busy="loading || stateService.statePending"
        v-busy-label="Applying changes"
        v-pressable>
  <i class="glyphicon glyphicon-ok-circle" aria-hidden="true"></i>
  <span> Apply</span>
</button>
<button ng-show="isPrivateExperiment" type="button" class="btn btn-default"
        owner-only
        ng-click="saveIntoCollabStorage()"
        ng-disabled="loading || stateService.statePending || !populationForm.$valid || !collabDirty"
        v-busy="isSavingToCollab"
        v-busy-label="Saving to Storage"
        v-pressable>
  <i class="glyphicon glyphicon-book"></i>
  <span> Save to Storage</span>
</button>
<span class="alert alert-danger" ng-if="!populationForm.$valid">Invalid population definition.</span>
