<div class="assetLoadingSplash-content text-center">
  <h1 ng-bind="title"></h1>
  <p class="lead">Loading Experiment...</p>
  <small>{{percentage}}%</small><br/>
  <span class="glyphicon glyphicon-refresh spinning"></span>
  <div ng-repeat="element in progressData | filter:{done: false} | orderBy:'totalSize':true | limitTo:10">
    <progressbar value="element.progress" max="element.totalSize" animate="true" style="background-color:#c0c0c0;"><span style="color:black; white-space:nowrap; font-weight:bold;">{{element.id}}</span></progressbar>
  </div>
</div>
