<!-- build:css(.tmp) components/dynamic-view-overlay/dynamic-view-overlay.style.css -->
<link rel="stylesheet" href="components/dynamic-view-overlay/dynamic-view-overlay.style.css"/>
<!-- endbuild -->

<div movable resizeable show-on-top
     randomize-initial-position random-position-parent-selector="vm.dynamicViewOverlayService.OVERLAY_PARENT_SELECTOR"
     class="dynamic-view-overlay-wrapper">
  <dynamic-view></dynamic-view>
  <button type="button" class="button-close" data-ng-click="vm.closeOverlay()">×</button>
</div>
