<!-- build:css(.tmp) components/dynamic-view-overlay/dynamic-view-overlay.style.css -->
<link rel="stylesheet" href="components/dynamic-view-overlay/dynamic-view-overlay.style.css"/>
<!-- endbuild -->

<div movable movable-anchor=".titlebar-name" show-on-top resizeable="true"
     class="dynamic-view-overlay-wrapper" channel="{{vm.channelType.directive}}">
  <div class="dynamic-view-overlay-titlebar">
    <h6 class="titlebar-name">{{vm.channelType.name}}</h6>
    <button type="button" class="titlebar-button-close" data-ng-click="vm.closeOverlay()">×</button>
  </div>
  <dynamic-view class="dynamic-view-overlay-content"></dynamic-view>
</div>
