<!-- build:css(.tmp) styles/esv/brainvisualizer-panel.css -->
<link rel="stylesheet" href="styles/esv/brainvisualizer-panel.css"/>
<!-- endbuild -->

<div resizeable show-on-top id="brainvisualizer-panel" class="brainvisualizer-panel-widget noselect ng-hide" ng-show="showBrainvisualizerPanel" ng-controller="brainvisualizerPanelCtrl"
      ng-keydown="suppressKeyPress($event)" >
  <div class="brainvisualizer-panel-header" movable-anchor-for-id="brainvisualizer-panel">
    <h5 class="brainvisualizer-panel-title">Brain Visualizer</h5>
  </div>
  <brainvisualizer class="brainvisualizer-panel-content" data="brainVisualizerData">
  </brainvisualizer>
  <button type="button" class="button-close" data-ng-click="toggleBrainvisualizer()">×</button>
</div>
