<!-- build:css(.tmp) styles/esv/camera-view.css -->
<link rel="stylesheet" href="styles/esv/camera-view.css"/>
<!-- endbuild -->

<div class="camera-server-stream-not-available" ng-show="showServerStream">
  <span>Start the simulation to start streaming camera image</span>
</div>
<img class="camera-server-stream-image" ng-show="showServerStream" ng-src="{{videoUrl}}" alt="Smiley face">
<div class="camera-view-label">{{cameraName}}</div>

<div class="camera-icons">
  <span class="glyphicon glyphicon-modal-window camera-frustum" ng-class="{'camera-icon-enabled' : showFrustum}" tooltip="Show frustum" tooltip-placement="bottom"
    ng-click="onShowFrustumChanged()" aria-hidden="true"></span>
  <i class="fa fa-video-camera camera-server-stream" ng-class="{'camera-icon-enabled' : showServerStream}" ng-show="videoUrl" tooltip="Stream&nbsp;server&nbsp;image"
    tooltip-placement="bottom" ng-click="toggleServerStream()" aria-hidden="true"></i>
</div>
