<!-- context menu -->
<div id="contextmenu" class="esv-contextmenu ng-hide" ng-show="contextMenuState.isShown && (gz3d.scene.manipulationMode === EDIT_MODE.VIEW)"
    ng-style="{ 'left': contextMenuState.contextMenuLeft, 'top': contextMenuState.contextMenuTop }">
    <ul class="hbp-list-tableview hbp-list-tableview-selectable">

        <div ng-repeat="itemsGroup in contextMenuState.itemsGroups">
            <!--Only show the object title and not the other item group titles-->
            <li ng-show="itemsGroup.visible" ng-if="$index == 0" class="hbp-list-tableview-heading">{{itemsGroup.label}}</li>
            <li ng-repeat="item in itemsGroup.items" ng-show="item.visible" class="hbp-list-tableview-entry" ng-click="item.callback($event)">
                <span ng-if="item.text">{{item.text}}</span>
                <div ng-if="item.html" bind-html-and-compile="item.html"></div>
            </li>

        </div>
    </ul>
</div>
<!-- context menu -->