<div class="panel-heading">
  <button type="button" class="close" data-ng-click="panels.close();">×</button>
</div>
<div class="panel-body">
  <tabset>
    <tab heading="Transfer Functions">
      <transfer-function-editor server={{serverBaseUrl}} simulation={{simulationID}}></transfer-function-editor>
    </tab>
    <tab heading="Environment">
      <environment-designer />
    </tab>
    <tab heading="State Machine (SMACH)" select="smachEditorRefresh();">
      <smach-editor server={{serverBaseUrl}} simulation={{simulationID}}></smach-editor>
    </tab>
    <tab heading="Events">
      <h3>Events Editor</h3>
    </tab>
  </tabset>
</div>
