<div class="panel-heading">
  <button type="button" class="close" data-ng-click="panels.close();">×</button>
</div>
<div class="panel-body">
  <tabset>
    <tab heading="Environment" active="activeTab.environment">
      <environment-designer />
    </tab>
    <tab heading="Transfer Functions" active="activeTab.transferfunction" select="!isClosing && disableKeyBindings(); !isClosing && controls.transferfunction.refresh()" deselect="reenableKeyBindings()">
      <transfer-function-editor topic="{{transferFunctionErrorTopic}}" server="{{rosbridgeWebsocketUrl}}"
        control="controls.transferfunction" />
    </tab>
    <tab ng-if="REMOVED-FROM-TSR-RELEASE" heading="State Machine (SMACH)" active="activeTab.statemachine" select=" !isClosing && disableKeyBindings(); !isClosing &&  controls.statemachine.refresh()" deselect="reenableKeyBindings()">
      <smach-editor control="controls.statemachine"/>
    </tab>
    <tab heading="Brain Model (PyNN)" active="activeTab.pynneditor" select=" !isClosing && disableKeyBindings(); !isClosing &&  controls.pynneditor.refresh()" deselect="reenableKeyBindings()">
      <pynn-editor control="controls.pynneditor"/>
    </tab>
  </tabset>
</div>
