<!-- build:css(.tmp) styles/esv/esv-web.css -->
<link rel="stylesheet" href="styles/esv/esv-web.css" />
<!-- endbuild -->

<div class="container-with-navbar-margin">
  <h1 class="nrp-main-title">Experiment Simulation Viewer</h1>
  <div class="list-container">

    <div class="form-group col-lg-2">
      <input  ng-model="query" type="text" class="form-control input-sm" placeholder="Experiment Filter...">
    </div>

    <hr class="list-separator">

    <div ng-repeat="exp in experiments | convertToArray | name_snippet:query | orderBy:'name':false" ng-mouseenter="isHovered = true" ng-mouseleave="isHovered = false" ng-mouseup="isHovered = false" ng-click="setSelected(exp.id);">
      <div class="list-entry-container left-right" ng-class="{selected: (exp.id == selectedIndex) || isHovered}">
        <div class="list-entry-container left-right list-entry-main">
          <div class="list-entry-left" ng-class="{selected: exp.id == selectedIndex}">
            <img ng-src="{{exp.imageUrl}}" >
          </div>
          <div class="list-entry-middle list-entry-container up-down">
            <div class="list-entry-container left-right title-line">
              <div class="h4">{{exp.name}}</div>
              <div ng-if="exp.runningExperiments == 1" class="list-entry-running">({{exp.runningExperiments}} simulation running)</div>
              <div ng-if="exp.runningExperiments > 1" class="list-entry-running">({{exp.runningExperiments}} simulations running)</div>
            </div>
            <div ng-if="exp.id == selectedIndex">{{exp.snippet}}<br/>
              <i ng-if="exp.timeout != undefined">Timeout: {{exp.timeout | timeDDHHMMSS}}</i>
            </div>
            <div ng-if="exp.id != selectedIndex">{{exp.snippet | limitTo: 200}}...</div>
            <div collapse="isQueryingServersFinished" ng-if="exp.id == selectedIndex">
              <div class="list-entry-container center"><i class="fa fa-spinner fa-spin"></i>&nbsp;<i>Querying available servers...</i></div>
            </div>
            <div class="list-entry-buttons list-entry-container center" ng-if="exp.id == selectedIndex">
              <div class="btn-group" role="group">
                <button ng-if="!isServerAvailable" class="btn btn-default disabled enable-tooltip" tooltip="Sorry, no available servers." tooltip-trigger="mouseenter">Start new simulation</button>
                <button ng-if="isServerAvailable" ng-disabled="startNewExperimentSelectedIndex !== -1" class="btn btn-default" ng-click="setProgressbarVisible(exp.id);startNewExperiment(exp.id);">Start new simulation</button>
                <button ng-if="exp.runningExperiments > 0" class="btn btn-default" ng-disabled="startNewExperimentSelectedIndex !== -1" ng-click="setJoinableVisible(exp.id);">Join existing simulation »</button>
              </div>
            </div>
            <div  collapse="startNewExperimentSelectedIndex != exp.id">
              <progressbar value="100" class="progress-striped active top-buffer"><i><b>{{progressMessageMain}}</b> {{progressMessageSub}}</i></progressbar>
            </div>
            <div  class="table-wrapper" collapse="joinSelectedIndex != exp.id">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>Simulation</th>
                  <th>Server</th>
                  <th>Creator</th>
                  <th>Uptime</th>
                  <th>Status</th>
                  <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="simul in exp.simulations">
                  <td>{{simul.experimentID}}</td>
                  <td>{{simul.serverID}}</td>
                  <td>{{owners[simul.owner]}}</td>
                  <td>{{uptime[simul.serverID + '-' + simul.simulationID] | timeDDHHMMSS}}</td>
                  <td>{{simul.state}}</td>
                  <td><a ng-click="joinExperiment('esv-web/gz3d-view/{{simul.serverID}}/{{simul.simulationID}}');" type="button" class="btn btn-default" ng-disabled="simul.state === STATE.CREATED">Join »</a></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="list-entry-right list-entry-container center">
          <div class="self-center"><button type="button" class="btn btn-primary list-select-buttons" ng-click="setSelected(exp.id);" ng-if="exp.id !== selectedIndex" ng-disabled="startNewExperimentSelectedIndex !== -1">Select »</button></div>
        </div>
      </div>

      <hr class="list-separator">
    </div>
  </div>
</div>
