<!-- build:css(.tmp) styles/esv/esv-web.css -->
<link rel="stylesheet" href="styles/esv/esv-web.css" />
<!-- endbuild -->

<div class="container-with-navbar-margin">

  <div class="list-container">
    <div class="form-group form-inline col-xs-12">
      <div class="dropdown top-buttons">
        <button analytics-on analytics-event="Toggle"
                analytics-category="Server"
                analytics-label="Collab"
                class="btn btn-default dropdown-toggle"
                type="button" data-toggle="dropdown">
          Servers
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-left servers-dropdown">
          <li ng-repeat="server in serverNames" ng-class="'server-state-'+server.state"
              ng-click="toggleServer(server.id); $event.stopPropagation();">
            <a><input
              type="checkbox"
              ng-checked="serversEnabled.indexOf(server) > -1"
              ng-click="toggleServer(server.id); $event.stopPropagation();">
              <span ng-bind="server.id"></span>
            </a>
          </li>
        </ul>
      </div>
      <div ng-show="!isQueryingServersFinished">
        <i class="fa fa-2x fa-spinner fa-spin"></i>&nbsp;<i>Loading experiment description</i>
      </div>
    </div>

    <div class="form-group form-inline col-xs-12">Robotic simulation cluster availability: <span class="label"
        ng-class="clusterPartAvailInfo.nodes[1] > 2 ? 'label-success' : clusterPartAvailInfo.nodes[1] > 1 ? 'label-warning' : 'label-danger' ">{{clusterPartAvailInfo.nodes[1]}}/{{clusterPartAvailInfo.nodes[3]}}</span></div>

    <hr class="list-separator">

    <div class="list-entry-container left-right" ng-class="{selected: true}">
      <div class="list-entry-left" ng-class="{selected: true}">
        <img ng-src="data:image/png;base64,{{experiment.imageData}}" />
      </div>
      <div class="list-entry-middle list-entry-container up-down">
        <div class="list-entry-container left-right title-line">
          <div class="h4">{{experiment.name}}</div>
        </div>
        <div>{{experiment.description}}<br/>
          <i ng-if="experiment.timeout != undefined">Timeout: {{experiment.timeout | timeDDHHMMSS}}</i><br/>
          <i ng-if="experiment.numSupportingServers != undefined">
            Available servers: {{experiment.numAvailableServers}} / {{experiment.numSupportingServers}}
          </i>
        </div>
        <div collapse="isQueryingServersFinished">
          <div class="list-entry-container center">
            <i class="fa fa-spinner fa-spin"></i>&nbsp;<i>Querying available servers...</i>
          </div>
        </div>
        <div class="list-entry-buttons list-entry-container center">
          <div class="btn-group" role="group">
            <!-- Launch button enabled -->
            <button analytics-on analytics-event="Launch"
                    analytics-category="Experiment"
                    analytics-label="Collab"
                    ng-if="hasEditRights && isServerAvailable[experiment.id]" class="btn btn-default"
                    ng-click="setProgressbarVisible(experiment.id);startNewExperiment(experiment.experimentConfiguration,  experiment.serverPattern);">
              <i class="fa fa-plus"></i> Launch
            </button>
            <!-- No server available: Launch button disabled -->
            <button join ng-if="hasEditRights && !isServerAvailable[experiment.id]" class="btn btn-default disabled enable-tooltip"
                    tooltip="Sorry, no available servers." tooltip-trigger="mouseenter" tooltip-placement="top">
              <i class="fa fa-plus"></i> Launch
            </button>
            <!-- No edit rights: Launch button disabled -->
            <button join ng-if="!hasEditRights" class="btn btn-default disabled enable-tooltip"
                    tooltip="Sorry, you don't have sufficient rights to launch a simulation." tooltip-trigger="mouseenter" tooltip-placement="top">
              <i class="fa fa-plus"></i> Launch
            </button>
          </div>
          <!-- Join button -->
          <button ng-if="experiment.simulations.length > 0" analytics-on analytics-event="Re-Join"
                  analytics-category="Experiment"
                  analytics-label="Collab"
                  class="btn btn-default" ng-click="setJoinableVisible(experiment.id);">
            <i class="fa fa-sign-in"></i> Join »
          </button>
        </div>
        <div collapse="!startNewExperimentSelected || (experiment.simulations.length === 0)">
          <progressbar value="100" class="progress-striped active top-buffer"><i>
            <b>{{progressMessageMain}}</b> {{progressMessageSub}}</i>
          </progressbar>
        </div>
        <div class="table-wrapper" collapse="!joinSelected || (experiment.runningExperiments === 0)">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Server</th>
              <th>Creator</th>
              <th>Uptime</th>
              <th>Status</th>
              <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
              <tr ng-repeat="simulation in experiment.simulations">
                <td>{{simulation.serverID}}</td>
                <td>{{owners[simulation.owner]}}</td>
                <td class="monospace-text">{{uptime[simulation.serverID + '-' + simulation.simulationID] | timeDDHHMMSS}}</td>
                <td>{{simulation.state}}</td>
                <td>
                  <!-- Join button enabled provided simulation state is consistent-->
                  <a analytics-on analytics-event="Join"
                    analytics-category="Experiment"
                    ng-click="joinExperiment('esv-web/gz3d-view/{{simulation.serverID}}/{{simulation.simulationID}}/{{(simulation.owner === userID)?simul.operationMode:OPERATION_MODE.VIEW}}');"
                    type="button" class="btn btn-default"
                    ng-disabled="(simulation.state === STATE.CREATED)||simulation.stopping">Join »
                  </a>
                  <!-- Stop button available provided the user owns the simulation, enabled provided simulation state is consistent-->
                  <a ng-click="stopSimulation(simulation);"
                     type="button" class="btn btn-default"
                     ng-if="(simulation.owner === userID) && (simul.state !== STATE.CREATED)"
                     ng-disabled="simulation.stopping">
                    <i class="fa fa-spinner fa-spin" ng-if="simulation.stopping"></i> Stop
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
