<!-- build:css(.tmp) styles/esv/esv-web.css -->
<link rel="stylesheet" href="styles/esv/esv-web.css" />
<!-- endbuild -->

<div class="container-with-navbar-margin">
  <a ui-sref="home" class="fa fa-arrow-left fa-2x nrp-title-left-button"></a>

  <h1 class="nrp-main-title">Experiment Simulation Viewer</h1>
  <div ng-if="showAll">
  <center><span style="color: red">Developer mode</span></center>
  </div>

  <div class="list-container">
    <div class="form-group form-inline col-xs-12">
      <input ng-model="query" type="text" class="top-buttons form-control input-sm" placeholder="Experiment Filter...">
      <div ng-show="showAll" class="dropdown top-buttons">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
          Servers
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-left servers-dropdown">
          <li ng-repeat="server in serverNames" ng-click="toggleServer(server); $event.stopPropagation();">
            <a><input type="checkbox" ng-checked="serversEnabled.indexOf(server) > -1" ng-click="toggleServer(server); $event.stopPropagation();"> {{server}}</a>
          </li>
        </ul>
      </div>
    </div>

    <hr class="list-separator">

    <a ng-show="!showAll" style="position: absolute; top: 5pt; right: 5pt; font-size: xx-small" ng-click="showAll=true">developers</a>
    <a ng-show="showAll" style="position: absolute; top: 5pt; right: 5pt; font-size: xx-small" ng-click="showAll=false">users</a>

    <div ng-repeat="exp in experiments | convertToArray | nameSnippet:query | orderBy:'name':false | byMaturity:showAll"
         ng-mouseenter="isHovered = true" ng-mouseleave="isHovered = false" ng-mouseup="isHovered = false" ng-click="setSelected(exp.id);">
      <div class="list-entry-container left-right" ng-class="{selected: (exp.id == selectedIndex) || isHovered}">
        <div class="list-entry-left" ng-class="{selected: exp.id == selectedIndex}">
          <img ng-src="data:image/png;base64,{{exp.imageData}}" />
        </div>
        <div class="list-entry-middle list-entry-container up-down">
          <div class="list-entry-container left-right title-line">
            <div class="h4">{{exp.name}}</div>
            <div ng-if="exp.runningExperiments == 1" class="list-entry-running">({{exp.runningExperiments}} simulation running)</div>
            <div ng-if="exp.runningExperiments > 1" class="list-entry-running">({{exp.runningExperiments}} simulations running)</div>
          </div>
          <div ng-if="exp.id == selectedIndex">{{exp.description}}<br/>
            <i ng-if="exp.timeout != undefined">Timeout: {{exp.timeout | timeDDHHMMSS}}</i><br/>
            <i ng-if="exp.numSupportingServers != undefined">Available servers: {{exp.numAvailableServers}} / {{exp.numSupportingServers}}</i>
          </div>
          <div ng-if="exp.id != selectedIndex">{{exp.description | limitTo: 200}}...</div>
          <div collapse="isQueryingServersFinished" ng-if="exp.id == selectedIndex">
            <div class="list-entry-container center"><i class="fa fa-spinner fa-spin"></i>&nbsp;<i>Querying available servers...</i></div>
          </div>
          <div class="list-entry-buttons list-entry-container center" ng-if="exp.id == selectedIndex">
            <div class="btn-group" role="group">
              <button ng-if="isServerAvailable[exp.id]" class="btn btn-default" ng-click="setProgressbarVisible(exp.id);enterEditMode(exp.experimentConfiguration, exp.serverPattern);">
                <i class="fa fa-pencil"></i> Edit
              </button>
              <button ng-if="!isServerAvailable[exp.id]" class="btn btn-default disabled enable-tooltip" tooltip="Sorry, no available servers." tooltip-trigger="mouseenter">
                <i class="fa fa-plus"></i> Launch
              </button>
              <button ng-if="isServerAvailable[exp.id]" class="btn btn-default" ng-disabled="startNewExperimentSelectedIndex !== -1"
                      ng-click="setProgressbarVisible(exp.id);startNewExperiment(exp.experimentConfiguration, exp.serverPattern);">
                <i class="fa fa-plus"></i> Launch
              </button>
              <button ng-if="exp.runningExperiments > 0" class="btn btn-default" ng-disabled="startNewExperimentSelectedIndex !== -1" ng-click="setJoinableVisible(exp.id);">
                <i class="fa fa-sign-in"></i> Join »
              </button>
            </div>
          </div>
          <div  collapse="startNewExperimentSelectedIndex != exp.id">
            <progressbar value="100" class="progress-striped active top-buffer"><i><b>{{progressMessageMain}}</b> {{progressMessageSub}}</i></progressbar>
          </div>
          <div  class="table-wrapper" collapse="joinSelectedIndex != exp.id">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Server</th>
                <th>Creator</th>
                <th>Uptime</th>
                <th>Status</th>
                <th>&nbsp;</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="simul in exp.simulations">
                <td>{{simul.serverID}}</td>
                <td>{{owners[simul.owner]}}</td>
                <td>{{uptime[simul.serverID + '-' + simul.simulationID] | timeDDHHMMSS}}</td>
                <td>{{simul.state}}</td>
                <td>
                  <a ng-click="joinExperiment('esv-web/gz3d-view/{{simul.serverID}}/{{simul.simulationID}}/{{(simul.owner === userID)?simul.operationMode:OPERATION_MODE.VIEW}}');"
                     type="button" class="btn btn-default" ng-disabled="simul.state === STATE.CREATED">
                    {{((simul.owner === userID)&&(simul.operationMode === OPERATION_MODE.EDIT))?'Edit':'Join'}} »
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <hr class="list-separator">
    </div>
  </div>
</div>
