<!-- build:css(.tmp) styles/esv/esv-web.css -->
<link rel="stylesheet" href="styles/esv/esv-web.css" />
<!-- endbuild -->

<div class="alert alert-warning">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Running simulations is unavailable due to
  server maintenance. Full functionality will be available again as soon as possible!
</div>

<div class="container-with-navbar-margin">

  <div class="list-container">
    <div class="form-group form-inline col-xs-12">
      <input ng-model="query" type="text" class="top-buttons form-control input-sm" placeholder="Experiment Filter...">
      <div class="dropdown top-buttons">
        <button analytics-on analytics-event="Toggle"
                analytics-category="Server"
                class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
          Servers
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-left servers-dropdown">
          <li ng-repeat="server in serverNames" ng-click="toggleServer(server.id); $event.stopPropagation();" ng-class="'server-state-'+server.state">
            <a>
              <input type="checkbox" ng-checked="serversEnabled.indexOf(server.id) > -1" ng-click="toggleServer(server.id); $event.stopPropagation();"/>
              <span ng-bind="server.id"></span>
            </a>
          </li>
        </ul>
        <span ng-show="showAll" class="label label-warning">Developer mode</span>
      </div>
      <div ng-show="!isQueryingServersFinished"><i class="fa fa-2x fa-spinner fa-spin"></i>&nbsp;<i>Loading list of experiments...</i></div>
    </div>

    <hr class="list-separator">

    <a ng-show="isEnvironmentDev() && !showAll" class="developpers-switch" ng-click="showAll=true">developers</a>
    <a ng-show="isEnvironmentDev() && showAll" class="developpers-switch" ng-click="showAll=false">users</a>

    <div ng-repeat="exp in experiments | convertToArray | nameSnippet:query | orderBy:'name':false | byMaturity:showAll"
         ng-mouseenter="isHovered = true" ng-mouseleave="isHovered = false" ng-mouseup="isHovered = false" ng-click="setSelected(exp.id);">
      <div class="list-entry-container left-right" ng-class="{selected: (exp.id == selectedIndex) || isHovered}">
        <div class="list-entry-left" ng-class="{selected: exp.id == selectedIndex}">
          <img ng-src="data:image/png;base64,{{exp.imageData}}" />
        </div>
        <div class="list-entry-middle list-entry-container up-down">
          <div class="list-entry-container left-right title-line">
            <div class="h4">{{exp.name}}</div>
            <div ng-if="exp.runningExperiments == 1" class="list-entry-running">({{exp.runningExperiments}} simulation running)</div>
            <div ng-if="exp.runningExperiments > 1" class="list-entry-running">({{exp.runningExperiments}} simulations running)</div>
          </div>
          <div ng-if="exp.id == selectedIndex">{{exp.description}}<br/>
            <i ng-if="exp.timeout != undefined">Timeout: {{exp.timeout | timeDDHHMMSS}}</i><br/>
            <span ng-if="exp.numSupportingServers != undefined">
              <i>Backend availability:</i>
              <i  class="label-availability"
                  tooltip="A backend VM is required to control the simulation"
                  ng-class="serverNames | serverStatus: serversEnabled">
                 {{exp.numAvailableServers}} / {{exp.numSupportingServers}}
              </i>
            </span>
            <br>
            <i>Cluster availability: </i>
            <i class="label-availability"
                tooltip="A cluster node is required to run the robot simulation"
                ng-class="clusterPartAvailInfo.nodes[0] < 4 ? (clusterPartAvailInfo.nodes[0] < 2 ? 'label-danger' : 'label-warning') : 'label-success' ">
              {{clusterPartAvailInfo.nodes[0]}} / {{clusterPartAvailInfo.nodes[3]}}
            </i>
          </div>
          <div ng-if="exp.id != selectedIndex">{{exp.description | limitTo: 200}}...</div>
          <div collapse="isQueryingServersFinished" ng-if="exp.id == selectedIndex">
            <div class="list-entry-container center"><i class="fa fa-spinner fa-spin"></i>&nbsp;<i>Querying available servers...</i></div>
          </div>
          <div class="list-entry-buttons list-entry-container center" ng-if="exp.id == selectedIndex">
            <div class="btn-group" role="group">
              <!-- Servers are available and the user has edit rights: launch button enabled -->
              <button analytics-on analytics-event="Launch"
                      analytics-category="Experiment"
                      ng-if="hasEditRights && isServerAvailable[exp.id]" class="btn btn-default" ng-disabled="startNewExperimentSelectedIndex !== -1"
                      ng-click="setProgressbarVisible(exp.id);startNewExperiment(exp.experimentConfiguration, exp.servers);">
                <i class="fa fa-plus"></i> Launch
              </button>
              <!-- No server available but the user has edit rights: launch button disabled -->
              <button ng-if="hasEditRights && !isServerAvailable[exp.id]" class="btn btn-default disabled enable-tooltip"
                      tooltip="Sorry, no available servers." tooltip-trigger="mouseenter" tooltip-placement="top">
                <i class="fa fa-plus"></i> Launch
              </button>
              <!-- No edit rights: launch button disabled -->
              <button ng-if="!hasEditRights" class="btn btn-default disabled enable-tooltip"
                      tooltip="Sorry, maintenance is ongoing" tooltip-trigger="mouseenter" tooltip-placement="top">
                <i class="fa fa-plus"></i> Launch
              </button>
              <!-- Servers are available and the user has edit rights: upload custom environment button is enabled -->
              <button analytics-on analytics-event="Upload-environment"
                      analytics-category="Experiment"
                      ng-if="hasEditRights && isServerAvailable[exp.id]" class="btn btn-default" ng-disabled="startNewExperimentSelectedIndex !== -1"
                      ng-click="uploadEnvironmentAndStart(exp);">
                <i class="fa fa-upload"></i> Upload custom environment
              </button>
              <!-- No server available but the user has edit rights: upload custom environment button is disabled -->
              <button ng-if="hasEditRights && !isServerAvailable[exp.id]" class="btn btn-default disabled enable-tooltip"
                      tooltip="Sorry, no available servers." tooltip-trigger="mouseenter" tooltip-placement="top">
                <i class="fa fa-upload"></i> Upload custom environment
              </button>
              <!-- No edit rights: upload custom environment button is disabled -->
              <button ng-if="!hasEditRights" class="btn btn-default disabled enable-tooltip"
                      tooltip="Sorry, maintenance is ongoing" tooltip-trigger="mouseenter" tooltip-placement="top">
                <i class="fa fa-upload"></i> Upload custom environment
              </button>
              <!-- Join button -->
              <button analytics-on analytics-event="Join"
                      analytics-category="Experiment"
                      ng-if="exp.contextlessSimulations.length > 0" class="btn btn-default" ng-disabled="startNewExperimentSelectedIndex !== -1"
                      ng-click="setJoinableVisible(exp.id);">
                <i class="fa fa-sign-in"></i> Join »
              </button>
            </div>
          </div>
          <div collapse="startNewExperimentSelectedIndex != exp.id">
            <progressbar value="100" class="progress-striped active top-buffer"><i><b>{{progressMessageMain}}</b> {{progressMessageSub}}</i></progressbar>
          </div>
          <div class="table-wrapper" collapse="(joinSelectedIndex != exp.id)||(exp.contextlessSimulations.length === 0)">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Server</th>
                <th>Creator</th>
                <th>Uptime</th>
                <th>Status</th>
                <th>&nbsp;</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="simul in exp.contextlessSimulations">
                <td>{{simul.serverID}}</td>
                <td>{{owners[simul.owner]}}</td>
                <td class="monospace-text">{{uptime[simul.serverID + '-' + simul.simulationID] | timeDDHHMMSS}}</td>
                <td>{{simul.state}}</td>
                <td>
                  <!-- Join button enabled provided simulation state is consistent-->
                  <a
                    analytics-on analytics-event="Join"
                    analytics-category="Experiment"
                    ng-click="joinExperiment('esv-web/gz3d-view/{{simul.serverID}}/{{simul.simulationID}}');"
                     type="button" class="btn btn-default" ng-disabled="(simul.state === STATE.CREATED)||simul.stopping">Join »</a>
                  <!-- Stop button enabled provided simulation state is consistent-->
                  <a analytics-on analytics-event="Stop"
                     analytics-category="Experiment"
                     ng-click="stopSimulation(simul);"
                     type="button" class="btn btn-default"
                     ng-if="hasEditRights && (simul.state !== STATE.CREATED) && (simul.owner === userID)" ng-disabled="simul.stopping">
                    <i class="fa fa-spinner fa-spin" ng-if="simul.stopping"></i> Stop
                  </a>
                  <!-- No edit rights: stop button disabled -->
                  <a type="button" class="btn btn-default disabled enable-tooltip"
                     tooltip="Sorry, maintenance is ongoing"
                     tooltip-trigger="mouseenter" tooltip-placement="top"
                     ng-if="!hasEditRights && (simul.state !== STATE.CREATED)"> Stop
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <hr class="list-separator">
    </div>
  </div>
</div>
