<!-- build:css(.tmp) styles/esv/gz3d-view.css -->
<link rel="stylesheet" href="styles/esv/gz3d-view.css" />
<link rel="stylesheet" href="styles/esv/spiketrain.css" />
<!-- endbuild -->

  <script id="heightmapVS" type="x-shader/x-vertex">
    varying vec2 vUv;
    varying vec3 vPosition;
    varying vec3 vNormal;

    void main( void ) {
      vUv = uv;
      vPosition = position;
      vNormal = normal;

      gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
    }
  </script>

  <script id="heightmapFS" type="x-shader/x-fragment">

    uniform sampler2D texture0;
    uniform sampler2D texture1;
    uniform sampler2D texture2;

    uniform float repeat0;
    uniform float repeat1;
    uniform float repeat2;

    uniform float minHeight1;
    uniform float minHeight2;

    uniform float fadeDist1;
    uniform float fadeDist2;

    uniform vec3 ambient;
    uniform vec3 lightDiffuse;
    uniform vec3 lightDir;

    varying vec2 vUv;
    varying vec3 vPosition;
    varying vec3 vNormal;

    float blend(float distance, float fadeDist) {
      float alpha = distance / fadeDist;
      if (alpha < 0.0) {
        alpha = 0.0;
      }
      if (alpha > 1.0) {
        alpha = 1.0;
      }
      return alpha;
    }

    void main()
    {
      // Texture loading
      vec3 diffuse0 = texture2D( texture0, vUv*repeat0 ).rgb;
      vec3 diffuse1 = texture2D( texture1, vUv*repeat1 ).rgb;
      vec3 diffuse2 = texture2D( texture2, vUv*repeat2 ).rgb;

      // Get base texture
      vec3 fragcolor = diffuse0;

      // texture level 1
      fragcolor = mix(
        fragcolor,
        diffuse1,
        blend(vPosition.z - minHeight1, fadeDist1)
      );

      // texture level 2
      fragcolor = mix(
        fragcolor,
        diffuse2,
        blend(vPosition.z - (minHeight1 + minHeight2), fadeDist2)
      );

      vec3 lightDirNorm = normalize(lightDir);
      float intensity = max(dot(vNormal, lightDirNorm), 0.0);
      vec3 vLightFactor = ambient + lightDiffuse * intensity;
      gl_FragColor = vec4(fragcolor.rgb * vLightFactor, 1.0);
    }
  </script>

    <div id="gz3d-body" data-role="page" data-theme="b" data-content-theme="c" class="esv-flex-container esv-flex-greedy-element">
      <!-- container -->
      <div class="esv-flex-container esv-flex-greedy-element">
        <!-- WEBGL-context -->
        <div ng-mousemove="updateHoverInfo($event);" ng-click="toggleScreenChangeMenu(true, $event);" data-role="content" id="container" class="esv-flex-greedy-element"></div>
        <!-- WEBGL-context -->

        <div class="keyboard-control-info" ng-show="showKeyboardControlInfoDiv"></div>
        <spiketrain server={{rosbridgeWebsocketUrl}} topic={{spikeTopic}} ng-show="showSpikeTrain"></spiketrain>
        <!-- overlay -->
        <div id="overlay" class="esv-overlay">
          <div class="hbp-toolbar">
            <div ng-if="isOwner" class="hbp-toolbar-action" ng-click="updateSimulation(STATE.STARTED)" ng-show="(state === STATE.PAUSED) || (state === STATE.INITIALIZED)">
              <i class="glyphicon glyphicon-play"></i>
            </div>
            <div ng-if="isOwner"class="hbp-toolbar-action" ng-click="updateSimulation(STATE.PAUSED)" ng-show="(state === STATE.STARTED)">
              <i class="glyphicon glyphicon-pause"></i>
            </div>
            <div ng-if="isOwner"class="hbp-toolbar-action" ng-click="updateSimulation(STATE.STOPPED)" ng-show="(state === STATE.STARTED) || (state === STATE.PAUSED)">
              <i class="glyphicon glyphicon-stop"></i>
            </div>
            <div ng-show="(state === STATE.INITIALIZED) || (state === STATE.STARTED) || (state === STATE.PAUSED)">
              <!-- For tooltip-enable, see: https://github.com/angular-ui/bootstrap/issues/3372 -->
              <!-- Since this feature is not documented. -->
              <div tooltip="Proof of concept tooltip text" tooltip-enable="helpModeActivated" class="hbp-toolbar-large-tool hbp-time-display">
                <div>
                  <div>
                    <span>Simulation time:</span><br/>
                    <span>Real time:</span><br/>
                    <span ng-style="{ color: simTimeoutText !== undefined && simTimeoutText < 60 ? 'red' : '' }">Timeout:</span>
                  </div>
                  <div>
                    <span>{{simulationTimeText | timeDDHHMMSS}}</span><br/>
                    <span>{{realTimeText | timeDDHHMMSS}}</span><br/>
                    <span ng-style="{ color: simTimeoutText !== undefined && simTimeoutText < 60 ? 'red' : '' }">{{simTimeoutText | timeDDHHMMSS}}</span>
                  </div>
                </div>
              </div>
              <div ng-if="isOwner" class="hbp-toolbar-large-tool hidden-xs">
                <i class="fa fa-lightbulb-o"></i>
                <input id="lightslider" type="range" min="0" max="100" steps="10" value="50" ng-model="sliderPosition"
                       ng-change="updateLightIntensities(sliderPosition)"/>
              </div>
              <!-- camera translation tool -->
              <div class="hbp-toolbar-large-tool hidden-xs hidden-sm esv-remove-from-touchscreen hbp-camera-tool-container">
                <div class="hbp-camera-tool-text">Translate Camera</div>
                <div class="hbp-camera-tool-controls">
                  <div class="hbp-camera-tool-controls-grid-third"></div>
                  <div class="fa fa-caret-up fa-1 hbp-camera-tool-controls-grid-third" ng-click="cameraTranslate(0, 0, 1);"></div>
                  <div class="fa fa-level-up fa-1 hbp-camera-tool-controls-grid-third" ng-click="cameraTranslate(0, 1, 0);"></div>
                  <div class="fa fa-caret-left fa-1 hbp-camera-tool-controls-grid-third" ng-click="cameraTranslate(-1, 0, 0);"></div>
                  <div class="fa fa-circle fa-1 hbp-camera-tool-controls-grid-third" ng-click="cameraResetToInitPose();"></div>
                  <div class="fa fa-caret-right fa-1 hbp-camera-tool-controls-grid-third" ng-click="cameraTranslate(1, 0, 0);"></div>
                  <div class="hbp-camera-tool-controls-grid-third"></div>
                  <div class="fa fa-caret-down fa-1 hbp-camera-tool-controls-grid-third" ng-click="cameraTranslate(0, 0, -1);"></div>
                  <div class="fa fa-level-down fa-1 hbp-camera-tool-controls-grid-third" ng-click="cameraTranslate(0, -1, 0);"></div>
                </div>
              </div>
              <!-- camera rotation tool -->
              <div class="hbp-toolbar-large-tool hidden-xs hidden-sm esv-remove-from-touchscreen hbp-camera-tool-container">
                <div class="hbp-camera-tool-text">Rotate Camera</div>
                <div class="hbp-camera-tool-controls">
                  <div class="fa fa-angle-up fa-1 hbp-camera-tool-controls-grid-full" ng-click="cameraRotate(0, 5);"></div>
                  <div class="fa fa-angle-left fa-1 hbp-camera-tool-controls-grid-third" ng-click="cameraRotate(5, 0);"></div>
                  <div class="fa fa-circle fa-1 hbp-camera-tool-controls-grid-third" ng-click="cameraLookAtOrigin();"></div>
                  <div class="fa fa-angle-right fa-1 hbp-camera-tool-controls-grid-third" ng-click="cameraRotate(-5, 0);"></div>
                  <div class="fa fa-angle-down fa-1 hbp-camera-tool-controls-grid-full" ng-click="cameraRotate(0, -5);"></div>
                </div>
              </div>
              <div class="hbp-toolbar-action" ng-click="toggleSpikeTrain()" ng-show="(state === STATE.STARTED) || (state === STATE.PAUSED) || (state === STATE.INITIALIZED)">
                <img src="img/esv/spiketrain_logo.png">
              </div>
            </div>
            <div ng-if="isOwner === false" class="hbp-toolbar-large-tool-two-lines">View-Only Mode<br/>Owner: {{owner}}</div>
            <!-- toolbar help icon -->
            <div class="hbp-toolbar-action right-align hide-overflow" ng-click="toggleHelpMode()">
              <i class="fa fa-question-circle fa-2x vertcenter" ng-class="{active: helpModeActivated}" tooltip="Help mode" tooltip-placement="left"></i>
            </div>
            <!-- toolbar help icon -->
          </div>
        </div>
        <!-- overlay -->

        <!-- context menu -->
        <div id="contextmenu" class="esv-contextmenu" ng-show="isContextMenuShown" ng-style="{ 'left': contextMenuLeft, 'top': contextMenuTop }">
          <ul class="hbp-list-tableview hbp-list-tableview-selectable">
            <li class="hbp-list-tableview-heading">Change Color</li>
            <li class="hbp-list-tableview-entry" ng-click="setColorOnEntity('red'); $event.stopPropagation();">Red</li>
            <li class="hbp-list-tableview-entry" ng-click="setColorOnEntity('blue'); $event.stopPropagation();">Blue</li>
            <li class="hbp-list-tableview-entry" ng-click="toggleScreenChangeMenu(false); $event.stopPropagation();">No Change (Close)</li>
          </ul>
        </div>
        <!-- context menu -->

        <!-- large top-right help icon -->
        <div ng-if="helpModeActivated" class="fa fa-question-circle fa-5x help-icon active" ng-click="toggleHelpMode()"></div>
        <div ng-if="helpModeActivated" class="fa fa-question fa-4x help-icon-inner" ng-click="toggleHelpMode()"></div>
        <!-- large top-right help icon -->

      </div>
      <!-- container -->

    </div>
    <!-- page -->
