<!-- build:css(.tmp) styles/esv/gz3d-view.css -->
<link rel="stylesheet" href="styles/esv/gz3d-view.css" />
<link rel="stylesheet" href="styles/esv/ros-reconnecting.css"/>
<!-- endbuild -->

  <script id="heightmapVS" type="x-shader/x-vertex">
    varying vec2 vUv;
    varying vec3 vPosition;
    varying vec3 vNormal;

    void main( void ) {
      vUv = uv;
      vPosition = position;
      vNormal = normal;

      gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
    }
  </script>

  <script id="heightmapFS" type="x-shader/x-fragment">

    uniform sampler2D texture0;
    uniform sampler2D texture1;
    uniform sampler2D texture2;

    uniform float repeat0;
    uniform float repeat1;
    uniform float repeat2;

    uniform float minHeight1;
    uniform float minHeight2;

    uniform float fadeDist1;
    uniform float fadeDist2;

    uniform vec3 ambient;
    uniform vec3 lightDiffuse;
    uniform vec3 lightDir;

    varying vec2 vUv;
    varying vec3 vPosition;
    varying vec3 vNormal;

    float blend(float distance, float fadeDist) {
      float alpha = distance / fadeDist;
      if (alpha < 0.0) {
        alpha = 0.0;
      }
      if (alpha > 1.0) {
        alpha = 1.0;
      }
      return alpha;
    }

    void main()
    {
      // Texture loading
      vec3 diffuse0 = texture2D( texture0, vUv*repeat0 ).rgb;
      vec3 diffuse1 = texture2D( texture1, vUv*repeat1 ).rgb;
      vec3 diffuse2 = texture2D( texture2, vUv*repeat2 ).rgb;

      // Get base texture
      vec3 fragcolor = diffuse0;

      // texture level 1
      fragcolor = mix(
        fragcolor,
        diffuse1,
        blend(vPosition.z - minHeight1, fadeDist1)
      );

      // texture level 2
      fragcolor = mix(
        fragcolor,
        diffuse2,
        blend(vPosition.z - (minHeight1 + minHeight2), fadeDist2)
      );

      vec3 lightDirNorm = normalize(lightDir);
      float intensity = max(dot(vNormal, lightDirNorm), 0.0);
      vec3 vLightFactor = ambient + lightDiffuse * intensity;
      gl_FragColor = vec4(fragcolor.rgb * vLightFactor, 1.0);
    }
  </script>

    <!-- page is display:none until the page spicific css were loaded --->
    <div data-role="page" data-theme="b" data-content-theme="c" style="display:none" class="gz3d-body ng-cloak" oncontextmenu="return false;">
      <!-- Alert popup --->
      <div class="alert alert-warning ng-hide" ng-show="userContextService.isJoiningStoppedSimulation">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Sorry, the simulation you just wanted to join is already stopped.

        <button class="btn btn-warning btn-xs pull-right" ng-click="exit()" >&times;</button>
      </div>
      <!-- container -->
      <div class="gz3d-container">
        <!-- WEBGL-context   -->
        <div data-role="content" id="container" class="gz3d-webgl" ng-mousedown="onContainerMouseDown($event);"></div>
        <!-- WEBGL-context -->

        <div show-on-top class="human-navigation-info ng-hide" ng-show="showHumanNavInfoDiv">
          <span>When paused, avatar navigation is not possible</span>
        </div>
        <spiketrain></spiketrain>
        <joint-plot></joint-plot>
        <!-- HelpText -->
        <input type="hidden" ng-model="helpText" ng-init="helpText[UI.PLAY_BUTTON]='Here you can start the simulation on the server. The simulation will then run until either you stop it or the simulation times out. The timeout is shown in the toolbar, named \'Timeout\'.'">
        <input type="hidden" ng-model="helpText" ng-init="helpText[UI.PAUSE_BUTTON]='Here you can pause the simulation on the server.'">
        <input type="hidden" ng-model="helpText" ng-init="helpText[UI.STOP_BUTTON]='Here you can stop the simulation on the server.'">
        <input type="hidden" ng-model="helpText" ng-init="helpText[UI.RESET_BUTTON]='Here you can activate the reset menu.'">
        <input type="hidden" ng-model="helpText" ng-init="helpText[UI.TIME_DISPLAY]='This shows the simulated time of the experiment on the server \'Simulation time\', the actual elapsed time \'Real time\' and the \'Timeout\', after which the simulation is terminated.'">
        <input type="hidden" ng-model="helpText" ng-init="helpText[UI.INCREASE_LIGHT]='With this button, you can increase the global brightness of the lights in the simulation.'">
        <input type="hidden" ng-model="helpText" ng-init="helpText[UI.DECREASE_LIGHT]='With this button, you can decrease the global brightness of the lights in the simulation.'">
        <input type="hidden" ng-model="helpText" ng-init="helpText[UI.CAMERA_TRANSLATION]='With those controls, you can change the viewpoint of your local camera. By clicking on the left/right/diagonal arrows, pressing the keys (WASD) or the arrow keys, you can move forward/left/backward/right. The up/down arrows, the keys (RF) or (Page-Up,Page-Down) let you move up and down. The circle in the middle lets you reset the position.'">
        <input type="hidden" ng-model="helpText" ng-init="helpText[UI.CAMERA_ROTATION]='With those controls, you can change the orientation of your local camera. The center circle lets you reset the orientation. You also can look around by draging the mouse in the 3d-scene.'">
        <input type="hidden" ng-model="helpText" ng-init="helpText[UI.SPIKE_TRAIN]='Toggle the spike-train visualization. Each neuron of the used network is represented by a horizontal bar (sorted by the neuron ID). Each bar displays the recent history of the spike events for the corresponding neuron.\n This visualization is available only if the corresponding neuron monitor transfer function has been defined.'">
        <input type="hidden" ng-model="helpText" ng-init="helpText[UI.JOINT_PLOT]='Toggle the robot joints plot. Select which of the available joints and their properties (e.g. velocity or position) should be displayed with the check-boxes on the left. The plot shows the latest values of the selected joint properties.'">
        <input type="hidden" ng-model="helpText" ng-init="helpText[UI.ROBOT_VIEW]='Toggle the robot camera view. Each camera source is visualized in a separate image window. This allows the user to observe \'what the robot sees\'.'">
        <input type="hidden" ng-model="helpText" ng-init="helpText[UI.OWNER_DISPLAY]='This information appears when you are not the displayed owner of the experiment and thus you are in a view-only mode.'">
        <input type="hidden" ng-model="helpText" ng-init="helpText[UI.ENVIRONMENT_SETTINGS]='This button displays the 3D environment setting panel.'">
        <input type="hidden" ng-model="helpText" ng-init="helpText[UI.USER_NAVIGATION]='Open user navigation sub-menu: Camera Button - Freeflying Camera / Character Button - Character bound physical presence.'">
        <input type="hidden" ng-model="helpText" ng-init="helpText[UI.CODE_EDITOR]='Toggle the experiment designer. Choose between the environment designer and the transfer function (TF) editor in the tabs above.\n- The environment designer allows to add, move, rotate and scale objects during the simulation. The environment model can be saved or loaded using the SDF format.\n- The TF editor allows to re-define or add new transfer functions into the current simulation. The transfer functions represent the main interface between the robot and the spiking neural network and define the conversion from the sensory input to the sensory neurons and from the network output to the robot control properties. A transfer function can be defined, loaded and saved as a Python script.'">
        <input type="hidden" ng-model="helpText" ng-init="helpText[UI.BRAIN_VISUALIZER]='This button opens the brain visualizer.'">
        <input type="hidden" ng-model="helpText" ng-init="helpText[UI.LOG_CONSOLE]='This button opens the log console.'">
        <input type="hidden" ng-model="helpText" ng-init="helpText[UI.EXIT_BUTTON]='Here you can leave the simulation.'">

        <!-- overlay -->
        <div id="overlay" class="esv-overlay noselect">
          <div class="hbp-toolbar" ng-mousedown="contextMenuState.toggleContextMenu(false, $event);">
            <div ng-if="userContextService.isOwner() && stateService.currentState === STATE.PAUSED"
                 class="hbp-toolbar-action"
                 ng-disabled="stateService.statePending"
                 ng-class="{'highlighted': currentSelectedUIElement === UI.PLAY_BUTTON}"
                 ng-click="simControlButtonHandler(STATE.STARTED, 'PLAY_BUTTON')">
              <i class="glyphicon glyphicon-play"></i>
            </div>
            <div ng-if="userContextService.isOwner()"
                 class="hbp-toolbar-action ng-hide"
                 ng-disabled="stateService.statePending"
                 ng-class="{'highlighted': currentSelectedUIElement === UI.PAUSE_BUTTON}"
                 ng-click="simControlButtonHandler(STATE.PAUSED, 'PAUSE_BUTTON')"
                 ng-show="(stateService.currentState === STATE.STARTED)">
              <i class="glyphicon glyphicon-pause"></i>
            </div>
            <div ng-if="userContextService.isOwner()"
                 class="hbp-toolbar-action ng-hide"
                 ng-disabled="stateService.statePending"
                 ng-class="{'highlighted': currentSelectedUIElement === UI.STOP_BUTTON}"
                 ng-click="simControlButtonHandler(STATE.STOPPED, 'STOP_BUTTON')"
                 ng-show="(stateService.currentState !== STATE.STOPPED) &&
                          (stateService.currentState !== STATE.FAILED)">
              <i class="glyphicon glyphicon-stop"></i>
            </div>
            <div ng-if="userContextService.isOwner()"
                 class="hbp-toolbar-action ng-hide"
                 ng-disabled="stateService.statePending"
                 ng-class="{'highlighted': currentSelectedUIElement === UI.RESET_BUTTON}"
                 ng-click="resetButtonClickHandler()"
                 ng-show="(stateService.currentState !== STATE.STOPPED) &&
                          (stateService.currentState !== STATE.HALTED) &&
                          (stateService.currentState !== STATE.FAILED)">
              <i class="glyphicon glyphicon glyphicon-repeat"></i>
            </div>
            <div>
              <div class="hbp-toolbar-large-tool hbp-time-display default-cursor"
                   ng-class="{'highlighted': currentSelectedUIElement === UI.TIME_DISPLAY,
                              'disabled': (stateService.currentState === STATE.HALTED) ||
                                          (stateService.currentState === STATE.STOPPED) ||
                                          (stateService.currentState === STATE.FAILED)}"
                   ng-click="timeDisplayClickHandler()">
                <div ng-show="(stateService.currentState === STATE.INITIALIZED) || (stateService.currentState === STATE.STARTED) || (stateService.currentState === STATE.PAUSED)">
                  <div>
                    <span>Simulation time:</span><br/>
                    <span>Real time:</span><br/>
                    <span ng-style="{ color: simTimeoutText !== undefined && simTimeoutText < 300 ? 'red' : '' }">Timeout:</span>
                  </div>
                  <div>
                    <span id="simTime">{{simulationTimeText | timeDDHHMMSS}}</span><br/>
                    <span id="realTime">{{realTimeText | timeDDHHMMSS}}</span><br/>
                    <span ng-style="{ color: simTimeoutText !== undefined && simTimeoutText < 300 ? 'red' : '' }">{{simTimeoutText | timeDDHHMMSS}}</span>
                  </div>
                </div>
                <div ng-show="stateService.currentState === STATE.HALTED">
                  <div>
                    <span>An exception occurred in the simulation.</span><br />
                    <span>The simulation needs to be terminated.</span>
                  </div>
                </div>
              </div>


              <!-- global lights -->
              <div ng-if="userContextService.isOwner()" class="hbp-toolbar-light-icon vertcenter hbp-toolbar-item" ng-disabled="helpModeActivated"
                   ng-class="{'disabled': (stateService.currentState === STATE.HALTED) ||
                                          (stateService.currentState === STATE.STOPPED) ||
                                          (stateService.currentState === STATE.FAILED)}">

                <i ng-class="{'disabled-image': gz3d.isGlobalLightMinReached(), 'highlighted': currentSelectedUIElement === UI.DECREASE_LIGHT}" class="hbp-toolbar-light-min fa fa-lightbulb-o fa-1x vertcenter"></i>
                <div class="hbp-toolbar-light-divbar"></div>
                <i ng-class="{'disabled-image': gz3d.isGlobalLightMaxReached(), 'highlighted': currentSelectedUIElement === UI.INCREASE_LIGHT}" class="hbp-toolbar-light-max fa fa-lightbulb-o fa-2x vertcenter"></i>

                <div class="hbp-toolbar-light-left-click" ng-click="modifyLightClickHandler(-1, UI.DECREASE_LIGHT)"></div>
                <div class="hbp-toolbar-light-right-click" ng-click="modifyLightClickHandler(1, UI.INCREASE_LIGHT)"></div>

              </div>
              <!-- global lights -->

              <!-- camera translation tool -->
              <div class="hbp-toolbar-item hidden-xs hidden-sm esv-remove-from-touchscreen hbp-camera-tool-container"
                   ng-class="{'highlighted': currentSelectedUIElement === UI.CAMERA_TRANSLATION}"
                   ng-click="cameraTranslationButtonClickHandler()">
                <div class="hbp-camera-tool-controls">
                  <div class="hbp-camera-tool-controls-overlay"><img src="img/esv/translation_icon.png" width=32 height=32></div>
                  <div class="fa hbp-camera-tool-controls-grid-third"><img src="img/esv/empty.png"></div>
                  <div class="fa hbp-camera-tool-controls-grid-third"
                    ng-mousedown="requestMove($event, 'moveUp');"
                    ng-mouseup="releaseMove($event, 'moveUp')"
                    ng-mouseleave="releaseMove($event, 'moveUp')"><img src="img/esv/empty.png"></div>
                  <div class="fa hbp-camera-tool-controls-grid-third"
                    ng-mousedown="requestMove($event, 'moveForward');"
                    ng-mouseup="releaseMove($event, 'moveForward');"
                    ng-mouseleave="releaseMove($event, 'moveForward')"><img src="img/esv/empty.png"></div>
                  <div class="fa hbp-camera-tool-controls-grid-third"
                    ng-mousedown="requestMove($event, 'moveLeft');"
                    ng-mouseup="releaseMove($event, 'moveLeft');"
                    ng-mouseleave="releaseMove($event, 'moveLeft')"><img src="img/esv/empty.png"></div>
                  <div class="fa hbp-camera-tool-controls-grid-third"
                    ng-mousedown="requestMove($event, 'initPosition');"
                    ng-mouseup="releaseMove($event, 'initPosition');"
                    ng-mouseleave="releaseMove($event, 'initPosition')"><img src="img/esv/empty.png"></div>
                  <div class="fa hbp-camera-tool-controls-grid-third"
                    ng-mousedown="requestMove($event, 'moveRight');"
                    ng-mouseup="releaseMove($event, 'moveRight');"
                    ng-mouseleave="releaseMove($event, 'moveRight')"><img src="img/esv/empty.png"></div>
                  <div class="fa hbp-camera-tool-controls-grid-third"
                    ng-mousedown="requestMove($event, 'moveBackward');"
                    ng-mouseup="releaseMove($event, 'moveBackward');"
                    ng-mouseleave="releaseMove($event, 'moveBackward')"><img src="img/esv/empty.png"></div>
                  <div class="fa hbp-camera-tool-controls-grid-third"
                    ng-mousedown="requestMove($event, 'moveDown');"
                    ng-mouseup="releaseMove($event, 'moveDown');"
                    ng-mouseleave="releaseMove($event, 'moveDown')"><img src="img/esv/empty.png"></div>
                  <div class="fa hbp-camera-tool-controls-grid-third"><img src="img/esv/empty.png"></div>
                </div>
              </div>
              <!-- camera translation tool -->

              <!-- camera rotation tool -->
              <div class="hbp-toolbar-item hidden-xs hidden-sm esv-remove-from-touchscreen hbp-camera-tool-container"
                   ng-class="{'highlighted': currentSelectedUIElement === UI.CAMERA_ROTATION}"
                   ng-click="cameraRotationButtonClickHandler()">
                <div class="hbp-camera-tool-controls">
                  <div class="hbp-camera-tool-controls-overlay"><img src="img/esv/rotation_icon.png" width=32 height=32></div>
                  <!-- in each flex little box, we put an 1 pixel image, else the box has a null size. And on Firefox, <img/> is not working -->
                  <div class="fa hbp-camera-tool-controls-grid-third"><img src="img/esv/empty.png"></div>
                  <div class="fa hbp-camera-tool-controls-grid-third"
                    ng-mousedown="requestMove($event, 'rotateUp');"
                    ng-mouseup="releaseMove($event, 'rotateUp');"
                    ng-mouseleave="releaseMove($event, 'rotateUp')"><img src="img/esv/empty.png"></div>
                  <div class="fa hbp-camera-tool-controls-grid-third"><img src="img/esv/empty.png"></div>
                  <div class="fa hbp-camera-tool-controls-grid-third"
                    ng-mousedown="requestMove($event, 'rotateLeft');"
                    ng-mouseup="releaseMove($event, 'rotateLeft');"
                    ng-mouseleave="releaseMove($event, 'rotateLeft')"><img src="img/esv/empty.png"></div>
                  <div class="fa hbp-camera-tool-controls-grid-third"
                    ng-mousedown="requestMove($event, 'initRotation');"
                    ng-mouseup="releaseMove($event, 'initRotation');"
                    ng-mouseleave="releaseMove($event, 'initRotation')"><img src="img/esv/empty.png"></div>
                  <div class="fa hbp-camera-tool-controls-grid-third"
                    ng-mousedown="requestMove($event, 'rotateRight');"
                    ng-mouseup="releaseMove($event, 'rotateRight');"
                    ng-mouseleave="releaseMove($event, 'rotateRight')"><img src="img/esv/empty.png"></div>
                  <div class="fa hbp-camera-tool-controls-grid-third"><img src="img/esv/empty.png"></div>
                  <div class="fa hbp-camera-tool-controls-grid-third"
                    ng-mousedown="requestMove($event, 'rotateDown');"
                    ng-mouseup="releaseMove($event, 'rotateDown');"
                    ng-mouseleave="releaseMove($event, 'rotateDown')"><img src="img/esv/empty.png"></div>
                  <div class="fa hbp-camera-tool-controls-grid-third"><img src="img/esv/empty.png"></div>
                </div>
              </div>
              <!-- camera rotation tool -->

              <!-- toggle spiketrain -->
              <div class="hbp-toolbar-action ng-hide"
                   ng-class="{'highlighted': currentSelectedUIElement === UI.SPIKE_TRAIN, 'active': showSpikeTrain}"
                   ng-click="spikeTrainButtonClickHandler()"
                   ng-show="(stateService.currentState === STATE.STARTED) || (stateService.currentState === STATE.PAUSED) || (stateService.currentState === STATE.INITIALIZED)">
                <img src="img/esv/spiketrain_logo.png">
              </div>
              <!-- toggle spiketrain -->

              <!-- toggle jointPlot -->
              <div class="hbp-toolbar-action ng-hide"
                   ng-class="{'highlighted': currentSelectedUIElement === UI.JOINT_PLOT, 'active': showJointPlot}"
                   ng-click="jointPlotButtonClickHandler()"
                   ng-show="(stateService.currentState === STATE.STARTED) || (stateService.currentState === STATE.PAUSED) || (stateService.currentState === STATE.INITIALIZED)">
                <img src="img/esv/jointplot_logo.png">
              </div>
              <!-- toggle jointPlot -->

              <!-- toggle robot camera view -->
              <div class="hbp-toolbar-action hide-overflow ng-hide"
                   ng-class="{'highlighted': currentSelectedUIElement === UI.ROBOT_VIEW, 'active': showRobotView, 'disabled': !hasCameraView}"
                   ng-click="robotViewButtonClickHandler()"
                   ng-show="(stateService.currentState === STATE.STARTED) || (stateService.currentState === STATE.PAUSED) || (stateService.currentState === STATE.INITIALIZED)">
                <!--<img src="img/esv/robot_view_icon.png" width=32 height=32>-->
                <i class="fa fa-eye fa-2x vertcenter"></i>
              </div>
              <!-- toggle robot camera view -->


              <!-- navigation mode -->
              <div class="hbp-toolbar-action ng-hide"
                   ng-class="{'highlighted': currentSelectedUIElement === UI.USER_NAVIGATION, 'active': showNavigationModeMenu}"
                   ng-click="navigationModeMenuClickHandler()"
                   ng-show="(stateService.currentState === STATE.STARTED) || (stateService.currentState === STATE.PAUSED) || (stateService.currentState === STATE.INITIALIZED)">
                <i class="fa fa-compass fa-2x vertcenter"></i>
                <div ng-show="showNavigationModeMenu" style="position: absolute; width: 42px; margin-top: -128px; background-color: lightgrey;">
                 <div  class="hbp-toolbar-action hide-overflow"
                       ng-class="{'active': isActiveNavigationMode(NAVIGATION_MODES.HUMAN_BODY), 'disabled-image': stateService.currentState === STATE.PAUSED}"
                       ng-click="setNavigationMode(NAVIGATION_MODES.HUMAN_BODY);">
                    <i class="fa fa-male fa-2x vertcenter"></i>
                  </div>
                  <div class="hbp-toolbar-action hide-overflow"
                       ng-class="{'active': isActiveNavigationMode(NAVIGATION_MODES.FREE_CAMERA)}"
                       ng-click="setNavigationMode(NAVIGATION_MODES.FREE_CAMERA);">
                    <i class="fa fa-video-camera fa-2x vertcenter"></i>
                  </div>
                </div>
              </div>
              <!-- navigation mode -->

              <!-- code editor icon -->
              <div ng-if="userContextService.isOwner()"
                   class="hbp-toolbar-action hide-overflow"
                   ng-class="{'highlighted': currentSelectedUIElement === UI.CODE_EDITOR, 'active': editorsPanelService.showEditorPanel,
                              'disabled': !helpModeActivated && userContextService.editIsDisabled || editorsPanelService.loadingEditPanel ||
                                          (stateService.currentState === STATE.HALTED) ||
                                          (stateService.currentState === STATE.STOPPED) ||
                                          (stateService.currentState === STATE.FAILED)}"
                   ng-click="codeEditorButtonClickHandler()"
                   tooltip="Sorry, you cannot edit at the moment as {{userEditing}} started editing {{timeEditStarted}}."
                   tooltip-trigger="mouseenter"
                   tooltip-enable="userContextService.editIsDisabled"
                   v-busy="editorsPanelService.loadingEditPanel"
                   v-busy-label="Loading the edit panel">
                <i class="fa fa-pencil-square-o fa-2x vertcenter"></i>
              </div>
              <!-- code editor icon -->

              <!-- brain visualizer icon -->
              <div ng-if="userContextService.isOwner()" class="hbp-toolbar-action hide-overflow"
                   ng-class="{'highlighted': currentSelectedUIElement === UI.BRAIN_VISUALIZER, 'active': showBrainvisualizerPanel,
                              'disabled': !helpModeActivated && brainvisualizerIsDisabled || loadingBrainvisualizerPanel ||
                                          (stateService.currentState === STATE.HALTED) ||
                                          (stateService.currentState === STATE.STOPPED) ||
                                          (stateService.currentState === STATE.FAILED)}"
                   ng-click="brainVisualizerButtonClickHandler()"
                   tooltip-trigger="mouseenter"
                  >
                <img src="img/esv/brainvisualizer.png" width=32 height=32>
              </div>
              <!-- brain visualizer icon-->

              <!-- log console icon -->
              <div class="hbp-toolbar-action hide-overflow"
                   ng-class="{'highlighted': currentSelectedUIElement === UI.LOG_CONSOLE,'active': showLogConsole}"
                   ng-click="logConsoleButtonClickHandler()">
                  <i class="fa fa-terminal fa-2x vertcenter"></i>
                  <div ng-if="missedConsoleLogs" class="missed-console-badge missed-console-number-{{missedConsoleLogs<=9}}" ng-class="'missed-console-badge-count-'+(missedConsoleLogs%2)">
                    <div ng-if="missedConsoleLogs<=9">{{missedConsoleLogs}}</div>
                    <div ng-if="missedConsoleLogs>9">...</div>
                  </div>
              </div>
              <!-- log console icon -->

            </div>

            <!-- owner information -->
            <div ng-if="userContextService.isOwner() === false"
                 class="hbp-toolbar-large-tool-two-lines default-cursor"
                 ng-class="{'highlighted': currentSelectedUIElement === UI.OWNER_DISPLAY}"
                 ng-click="ownerInformationClickHandler()">View-Only Mode<br/>Owner: {{owner}}</div>
            <!-- owner information -->

            <!-- #### The following will be aligned on the right side (in reverse order) #### -->
            <!-- exit button -->
            <div class="hbp-toolbar-action right-align hide-overflow"
                 ng-class="{'highlighted': currentSelectedUIElement === UI.EXIT_BUTTON}"
                 ng-click="exitButtonClickHandler()">
              <i class="fa fa-sign-out fa-2x vertcenter"></i>
            </div>
            <!-- exit button -->
            <!-- toolbar help icon -->
            <div class="hbp-toolbar-action right-align hide-overflow" ng-click="toggleHelpMode()">
              <i class="fa fa-question-circle fa-2x vertcenter" ng-class="{active: helpModeActivated}"></i>
            </div>
            <!-- toolbar help icon -->

            <!-- environment settings panel -->
            <div ng-if="userContextService.isOwner()" class="hbp-toolbar-action right-align hide-overflow"
                  ng-class="{'highlighted': currentSelectedUIElement === UI.ENVIRONMENT_SETTINGS, 'active': showEnvironmentSettingsPanel, disabled: !helpModeActivated && environmentSettingsIsDisabled || loadingEnvironmentSettingsPanel}"
                  ng-click="environmentSettingsClickHandler()"
                  v-busy="loadingEnvironmentSettingsPanel"
                  v-busy-label="Loading the environment settings panel">
               <img src="img/esv/settings.png" width=28 height=28>
            </div>
            <!-- environment settings panel -->


          </div>
        </div>
        <!-- overlay -->

           <context-menu></context-menu>
        <object-inspector></object-inspector>

        <!-- large top-right help icon -->
        <div ng-if="helpModeActivated" class="fa fa-question-circle fa-5x help-icon active" ng-click="toggleHelpMode()"></div>
        <div ng-if="helpModeActivated" class="fa fa-question fa-4x help-icon-inner" ng-click="toggleHelpMode()"></div>
        <!-- large top-right help icon -->

        <!-- Description -->
        <div show-on-top class="description-window panels ng-hide" ng-show="helpModeActivated && (stateService.currentState != STATE.STOPPED)">
          <div>
            <div class="help-title">{{ExperimentName}}:</div>
            <div class="help-text pre">{{ExperimentDescription}}</div>
            <div class="help-title">Version Information:</div>
            <div class="help-text prewrap" >{{versionString}}</div>
            <div class="help-title">Simulation Information:</div>
            <div class="help-text">
              <table class="table table-condensed table-compact borderless">
                <col class="col-md-1">
                <col>
                <tbody>
                  <tr>
                    <td>ServerID:</td>
                    <td>{{simulationInfo.serverID}}</td>
                  </tr>
                  <tr>
                    <td>SimulationID:</td>
                    <td>{{simulationInfo.simulationID}}</td>
                  </tr>
                  <tr>
                    <td>ServerBaseURL:</td>
                    <td>{{simulationInfo.serverBaseUrl}}</td>
                  </tr>
                  <tr>
                    <td>ExperimentID:</td>
                    <td>{{simulationInfo.experimentID}}</td>
                  </tr>
                  <tr>
                    <td>ExperimentConfig:</td>
                    <td>{{experimentConfiguration}}</td>
                  </tr>
                  <tr>
                    <td>EnvironmentConfig:</td>
                    <td>{{environmentConfiguration}}</td>
                  </tr>
                  <tr>
                    <td>Owner:</td>
                    <td>{{owner}}</td>
                  </tr>
                  <tr>
                    <td>Creation Date:</td>
                    <td>{{creationDate}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Description -->

        <!-- Toolbar-Help window -->
        <div show-on-top class="toolbar-help-window panels ng-hide" ng-show="helpModeActivated && (stateService.currentState != STATE.STOPPED)">
          <div class="help-title">UI-Element Description:</div>
          <div class="help-text" ng-show="currentSelectedUIElement === UI.UNDEFINED">(A description will be displayed here when you click on the corresponding user interface element)</div>
          <div class="help-text pre" ng-show="currentSelectedUIElement != UI.UNDEFINED">{{helpDescription}}</div>
        </div>
        <!-- Toolbar-Help window -->

        <!-- Code editor panel -->
        <editor-panel></editor-panel>
        <!-- Code editor panel -->

        <!-- Brainvisualizer panel -->
        <brainvisualizer-panel></brainvisualizer-panel>
        <!-- Brainvisualizer panel -->

        <!-- Environment settings panel -->
        <environment-settings-panel></environment-settings-panel>
        <!-- Environment settings panel -->

        <log-console
          class="ng-hide"
          server="{{rosbridgeWebsocketUrl}}"
          topic="{{rosTopics.logs}}"
          ng-show="showLogConsole"
          show-on-top
          log-received="consoleLogReceived()"
          toggle-visibility="logConsoleButtonClickHandler()">
        </log-console>

      </div>
      <!-- container -->

      <div class="ros-reconnecting" on-reconnect-timeout="exit()"></div>

      <simulation-timeout-extender extent-timeout-condition="{{simTimeoutText < 300}}" ng-if="userContextService.isOwner()"></simulation-timeout-extender>
    </div>
    <!-- page -->
