<!-- build:css(.tmp) styles/esv/gz3d-view.css -->
<link rel="stylesheet" href="styles/esv/gz3d-view.css" />
<link rel="stylesheet" href="styles/esv/ros-reconnecting.css"/>
<!-- endbuild -->

  <script id="heightmapVS" type="x-shader/x-vertex">
    varying vec2 vUv;
    varying vec3 vPosition;
    varying vec3 vNormal;

    void main( void ) {
      vUv = uv;
      vPosition = position;
      vNormal = normal;

      gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
    }
  </script>

  <script id="heightmapFS" type="x-shader/x-fragment">

    uniform sampler2D texture0;
    uniform sampler2D texture1;
    uniform sampler2D texture2;

    uniform float repeat0;
    uniform float repeat1;
    uniform float repeat2;

    uniform float minHeight1;
    uniform float minHeight2;

    uniform float fadeDist1;
    uniform float fadeDist2;

    uniform vec3 ambient;
    uniform vec3 lightDiffuse;
    uniform vec3 lightDir;

    varying vec2 vUv;
    varying vec3 vPosition;
    varying vec3 vNormal;

    float blend(float distance, float fadeDist) {
      float alpha = distance / fadeDist;
      if (alpha < 0.0) {
        alpha = 0.0;
      }
      if (alpha > 1.0) {
        alpha = 1.0;
      }
      return alpha;
    }

    void main()
    {
      // Texture loading
      vec3 diffuse0 = texture2D( texture0, vUv*repeat0 ).rgb;
      vec3 diffuse1 = texture2D( texture1, vUv*repeat1 ).rgb;
      vec3 diffuse2 = texture2D( texture2, vUv*repeat2 ).rgb;

      // Get base texture
      vec3 fragcolor = diffuse0;

      // texture level 1
      fragcolor = mix(
        fragcolor,
        diffuse1,
        blend(vPosition.z - minHeight1, fadeDist1)
      );

      // texture level 2
      fragcolor = mix(
        fragcolor,
        diffuse2,
        blend(vPosition.z - (minHeight1 + minHeight2), fadeDist2)
      );

      vec3 lightDirNorm = normalize(lightDir);
      float intensity = max(dot(vNormal, lightDirNorm), 0.0);
      vec3 vLightFactor = ambient + lightDiffuse * intensity;
      gl_FragColor = vec4(fragcolor.rgb * vLightFactor, 1.0);
    }
  </script>

    <!-- page is display:none until the page spicific css were loaded --->
    <div data-role="page" data-theme="b" data-content-theme="c" class="gz3d-body ng-cloak" oncontextmenu="return false;">
      <!-- Alert popup --->
      <div class="alert alert-warning ng-hide" ng-show="userContextService.isJoiningStoppedSimulation">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Sorry, the simulation you just wanted to join is already stopped.

        <button class="btn btn-warning btn-xs pull-right" ng-click="exit()" >&times;</button>
      </div>
      <!-- container -->
      <div class="gz3d-container">
        <!-- WEBGL-context   -->
        <div data-role="content" id="container" class="gz3d-webgl" ng-mousedown="onContainerMouseDown($event);"></div>
        <!-- WEBGL-context -->

        <div show-on-top class="human-navigation-info ng-hide" ng-show="showHumanNavInfoDiv">
          <span>When paused, avatar navigation is not possible</span>
        </div>
        <spiketrain></spiketrain>
        <joint-plot ng-show="showJointPlot" close-fn="jointPlotButtonClickHandler()"></joint-plot>


        <context-menu></context-menu>
        <object-inspector></object-inspector>


        <!-- Code editor panel -->
        <editor-panel></editor-panel>
        <!-- Code editor panel -->

        <!-- Brainvisualizer panel -->
        <brainvisualizer-panel></brainvisualizer-panel>
        <!-- Brainvisualizer panel -->

        <!-- Environment settings panel -->
        <environment-settings-panel></environment-settings-panel>
        <!-- Environment settings panel -->

        <log-console
          class="ng-hide"
          ng-show="showLogConsole"
          show-on-top
          log-received="consoleLogReceived()"
          toggle-visibility="logConsoleButtonClickHandler()">
        </log-console>

        <video-streams
            class="ng-hide"
            ng-show="showVideoStreams"
            show-on-top
            toggle-visibility="videoStreamsToggle()">
        </video-streams>

      </div>
      <!-- container -->

      <div class="ros-reconnecting" on-reconnect-timeout="exit()"></div>

      <simulation-timeout-extender extent-timeout-condition="{{simTimeoutText < 300}}" ng-if="userContextService.isOwner()"></simulation-timeout-extender>
    </div>
    <!-- page -->
