<div class="jointplot-wrapper" resizeable>
  <div class="jointplot" ng-show="allJoints.length > 0">
    <div class="property-selector">
      <label>
        <input value="position" type="radio" ng-model="selectedProperty.name">
        position
      </label><br/>
      <label>
        <input value="velocity" type="radio" ng-model="selectedProperty.name">
        velocity
      </label><br/>
      <label>
        <input value="effort" type="radio" ng-model="selectedProperty.name">
        effort
      </label><br/>
    </div>
    <div class="joint-selector">
      <span ng-repeat="joint in allJoints">
        <label ng-style="getCurveColor(joint)" for="{{joint}}">
          <input type="checkbox" ng-model="selectedJoints[joint]" name="group" id="{{joint}}">
          {{joint}}
        </label><br/>
      </span>
    </div>
    <div class="linechart-wrapper">
      <linechart class="linechart" height="{{chartHeight}}" data="curves" options="plotOptions"></linechart>
    </div>
  </div>
  <div class="jointplot" ng-hide="allJoints.length > 0">
    <h4>Start the simulation to display the plot</h4>
  </div>
</div>
