<div class="jointplot-wrapper" resizeable close-widget="toggleJointPlot()">
  <div class="jointplot" ng-show="allJoints.length > 0">
    <div class="property-selector">
      <div ng-repeat="prop in properties">
        <label>
          <input type="radio" ng-model="selectedProperty.name" value="{{prop}}" ng-change="updateVisibleSeries()">
          {{prop}}
        </label>
        <br/>
      </div>
    </div>
    <div class="joint-selector">
      <span ng-repeat="joint in allJoints" ng-style="{color:jointColors[$index]}">
        <label for="{{joint}}">
          <input type="checkbox" ng-model="selectedJoints[joint]" name="group" ng-change="updateVisibleSeries()">
          {{joint}}
        </label><br/>
      </span>
    </div>
    <div class="linechart-wrapper">
      <linechart class="linechart" data="curves" options="plotOptions"></linechart>
    </div>
  </div>
  <div class="jointplot" ng-hide="allJoints.length > 0">
    <h4>Start the simulation to display the plot</h4>
  </div>
  <button type="button" class="button-close" data-ng-click="closeWidget()">×</button>
</div>