<!-- build:css(.tmp) styles/esv/pynn-editor.css -->
<link rel="stylesheet" href="styles/esv/pynn-editor.css" />
<!-- endbuild -->

<div class="pynn-editor-widget">
  <h3>PyNN Brain Editor</h3>
  <p><a target="_blank" href="http://neuralensemble.org/PyNN/">PyNN</a> (pronounced 'pine') is a simulator-independent
    language for building neuronal network models.
    Network model scripts may use the PyNN API to load a network, but the network must not be executed.
    However, there are <a target="_blank"
                          href="{{platformDocumentationURL}}/nrp/user_manual/simulation_setup/hard_reset.html">a few
      points</a> that should be taken into consideration when changing neuronal networks during a simulation.
  </p>
  <div ng-show="pynnScript === undefined" class="alert alert-info" role="alert">
    There is no PyNN script available for this experiment.
  </div>
  <div ng-show="pynnScript !== undefined">
    <p>Populations (set of neurons indices) can be defined here and referred to in transfer functions:
    </p>
    <form name="populationForm">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th colspan="3">Neuron indices</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(index, population) in populations">
            <td>
              <input type="text" size="25" ng-model="population.name" ng-focus="onFocusChange(index);" ng-change="onBrainChange()" ng-change="updateRegexPatterns();"
                ng-pattern="population.regex" required>
            </td>
            <td ng-if-start="isSlice(population)">
              <div class="fixed-sized">
                <label>from</label>
                <input size="5" type="number" class="neuron-index-field" ng-model="population.from" min="0" placeholder="0" required ng-change="onBrainChange()">
              </div>
            </td>
            <td>
              <label>to</label>
              <input size="5" type="number" class="neuron-index-field" ng-model="population.to" min="1" placeholder="1" required ng-change="onBrainChange()">
            </td>
            <td ng-if-end>
              <label>step</label>
              <input size="5" type="number" class="neuron-index-field" ng-model="population.step" min="1" placeholder="1" required ng-change="onBrainChange()">
            </td>
            <td ng-if="!isSlice(population)" colspan="3">
              <input size="40" type="text" ng-model="population.list" ng-change="onBrainChange()" ng-pattern="/^\s*\d+\s*(\,\s*\d+\s*)*$/"
                required>
            </td>
            <td>
              <button type="button" class="btn btn-default btn-md" ng-click="deletePopulation(index);">
              <i class="glyphicon glyphicon-remove"></i><span> Delete</span>
            </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div ng-include src="'views/esv/pynn-editor-buttons.html'"></div>
    </form>
    <hr>
    <h4>PyNN Brain</h4>
    <button class="btn btn-default btn-md" ng-click="download()">
     <i class="glyphicon glyphicon-download"></i><span> Download</span>
    </button>
    <button class="btn btn-default btn-md" type="file" ngf-select="uploadFile($file)" accept=".py">
      <i class="glyphicon glyphicon-upload"></i><span> Upload</span>
    </button>
    <hr>
    <div id="codeEditor" ui-codemirror ui-codemirror-opts="editorOptions"
         ng-model="pynnScript">
    </div>
    <hr>
    <div>
      <button type="button" class="btn btn-default btn-md"
              ng-click="apply(0)"
              ng-disabled="loading || stateService.statePending || !populationForm.$valid"
              v-busy="loading || stateService.statePending"
              v-busy-label="Applying changes"
              v-pressable>
        <i class="glyphicon glyphicon-ok-circle" aria-hidden="true"></i>
        <span> Apply</span>
      </button>
    </div>
  </div>
</div>
