<h3>PyNN Brain Editor</h3>
<p>PyNN (pronounced 'pine') is a simulator-independent language for building neuronal network models.</p>
<p>When the experiment contains a PyNN script, you can see the code here.</a>
</p>
<div ng-show="pynnScript === undefined" class="alert alert-info" role="alert">
  There is no PyNN script available for this experiment.
</div>
<div ng-show="pynnScript !== undefined" >
  <hr>
  <h4><code class="CodeMirror cm-s-default"><span class="cm-def">PyNN Script</span></code></h4>
  <hr>
  <div id="codeEditor"  ui-codemirror ui-codemirror-opts="{
          lineWrapping: true,
          lineNumbers: true,
          readOnly: false,
          indentUnit: 4,
          mode: 'text/x-python'
      }"
       ng-model="pynnScript"
       ui-refresh='refreshCodemirror'>
  </div>
  <button type="button" class="btn btn-default btn-md"
          ng-click="update(pynnScript)"
          ng-disabled="doc.isClean() || loading || stateService.statePending">
    <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Update
  </button>
</div>
