<fieldset>
    <ul style="list-style: none">
        <b>Simulation</b>
        <li ng-if="operationMode === OPERATION_MODE.VIEW">
            <input type="radio" ng-model="request.resetType" ng-value="{{RESET_TYPE.RESET_OLD}}"
                    tooltip="Reset also the simulation timeout." tooltip-trigger="mouseenter" tooltip-placement="top">
                Reset Simulation
            </input>
        </li>

        <li ng-if="operationMode === OPERATION_MODE.EDIT">
            <input type="radio" ng-model="request.resetType" ng-value="{{RESET_TYPE.RESET_FULL}}"
                   tooltip="Reset also the simulation timeout." tooltip-trigger="mouseenter" tooltip-placement="top">
                Reset Simulation
            </input>
        </li>
        <br/>

        <b>Camera</b>
        <li>
            <input type="radio" ng-model="request.resetType" ng-value="{{RESET_TYPE.RESET_CAMERA_VIEW}}">
                Reset Camera View
            </input>
        </li>
        <br/>

        <span ng-if="operationMode === OPERATION_MODE.EDIT">
            <b>Brain</b>
            <li ng-if="!isCollabExperiment">
                <input ng-model="request.resetType" ng-value="{{RESET_TYPE.RESET_BRAIN}}" type="radio"
                       tooltip="Reset the brain to the status it was at the beginning of the simulation"
                       tooltip-trigger="mouseenter" tooltip-placement="top">
                     Reset the Neural Network
                </input>
            </li>
            <li ng-if="isCollabExperiment">
                <input ng-model="request.resetType" ng-value="{{RESET_TYPE.RESET_BRAIN}}" type="radio"
                        tooltip="Reset the brain to the last saved state"
                        tooltip-trigger="mouseenter" tooltip-placement="top">
                    Reset the Neural Network
                </input>
            </li>
            <br/>
        </span>

        <span ng-if="operationMode === OPERATION_MODE.EDIT">
            <b>Environment</b>
            <li ng-if="!isCollabExperiment">
                <input ng-model="request.resetType" ng-value="{{RESET_TYPE.RESET_WORLD}}" type="radio"
                       tooltip="Reset the poses of models to the original state" tooltip-trigger="mouseenter" tooltip-placement="top">
                     Reset Environment Poses
                </input>
            </li>
            <li ng-if="isCollabExperiment">
                <input ng-model="request.resetType" ng-value="{{RESET_TYPE.RESET_WORLD}}" type="radio"
                        tooltip="Reset Environment Poses to the last saved state" tooltip-trigger="mouseenter" tooltip-placement="top">
                    Reset Environment Poses
                </input>
            </li>
            <br/>
            </span>

        <span ng-if="operationMode === OPERATION_MODE.EDIT">
            <b>Robot</b>
            <li>
                <input ng-model="request.resetType" ng-value="{{RESET_TYPE.RESET_ROBOT_POSE}}" type="radio"
                       tooltip="Reset Robot to the original Pose" tooltip-trigger="mouseenter" tooltip-placement="top">
                    Reset Robot Pose
                </input>
            </li>
            <br/>
        </span>

    </ul>
</fieldset>
<br/>
