<!-- build:css(.tmp) styles/esv/reset-checklist-template.css -->
<link rel="stylesheet" href="styles/esv/reset-checklist-template.css" />
<!-- endbuild -->

<div class="reset-checklist-template">
    <fieldset>
        <ul style="list-style: none">
            <!-- TODO: remove when we support distributed brain reset, also see ng-show conditions below -->
            <span ng-show="isMultipleBrains()">
                <strong style="color: red;">Brain Reset Functionality Is Currently Disabled for Multiprocess Brain Simulations</strong>
                <br/><br/>
            </span>

            <span ng-hide="isMultipleBrains()">
                <b>Simulation</b>

                <li>

                    <label>

                    <input type="radio" ng-model="vm.request.resetType" ng-value="{{vm.RESET_TYPE.RESET_FULL}}" uib-tooltip="Reset also the simulation timeout."
                        tooltip-trigger="mouseenter" tooltip-placement="top">
                    </input>

                    Reset Simulation
                    </label>

                </li>
                <br/>
            </span>

            <b>Camera</b>
            <li>
                <label>

            <input type="radio" ng-model="vm.request.resetType" ng-value="{{vm.RESET_TYPE.RESET_CAMERA_VIEW}}">
            </input>

            Reset Camera View
            </label>

            </li>
            <br/>
<!--TODO: Remove isMultipleBrains from scope-->
            <span ng-hide="isMultipleBrains()">
                <b>Brain</b>
                <li>
                    <label>

                    <input ng-model="vm.request.resetType" ng-value="{{vm.RESET_TYPE.RESET_BRAIN}}" type="radio"
                            uib-tooltip="{{vm.environmnetService.isPrivateExperiment?'Reset the brain to the last saved state':'Reset the brain to the status it was at the beginning of the simulation'}}"
                            tooltip-trigger="mouseenter" tooltip-placement="top">
                    </input>
                        Reset the Neural Network
                    </label>

                </li>
                <br/>
            </span>

            <span>
            <b>Environment</b>
            <li>
                <label>

                <input ng-model="vm.request.resetType" ng-value="{{vm.RESET_TYPE.RESET_WORLD}}" type="radio"
                        uib-tooltip="{{vm.environmnetService.isPrivateExperiment?'Reset Environment Poses to the last saved state':'Reset the poses of models to the original state'}}" tooltip-trigger="mouseenter" tooltip-placement="top">
                </input>
                Reset Environment Poses
                </label>

            </li>
            <br/>
            </span>

            <span>
            <b>Robot</b>
            <li>
                <label>
                <input ng-model="vm.request.resetType" ng-value="{{vm.RESET_TYPE.RESET_ROBOT_POSE}}" type="radio"
                       uib-tooltip="Reset Robot to the original position and rotation." tooltip-trigger="mouseenter" tooltip-placement="top">
                </input>
                  Reset Robot Frame
                </label>

            </li>
            <br/>
        </span>

        </ul>
    </fieldset>
    <br/>
</div>