<h3>SMACH State Machine Editor</h3>
<p>The platform is designed to use state machines to control and evaluate experiments. A state machine controlling an
  experiment can monitor any simulation properties published on ROS topics (e.g. simulation time, sensor output, spiking
  activity of brain) and publish on ROS topics or call ROS services. </p><p>A state machine evaluating the success of an
  experiment has the same capabilities than a monitoring state machine and should either publish a success or failure
  message to the ROS "status" topic. State machine syntax is described in more details
  <a target="_blank" href="{{backendDocumentationURL}}/tutorials/state_machines.html">here</a>
</p>
<div ng-show="stateMachines.length === 0" class="alert alert-info" role="alert">
  There is no SMACH script available for this experiment.
</div>
<div ng-repeat="stateMachine in stateMachines">
  <hr>
  <h4><code class="CodeMirror cm-s-default"><span class="cm-def">{{stateMachine.name}}</span></code></h4>
  <hr>
  <div ui-codemirror="{
          lineWrapping : true,
          lineNumbers: true,
          readOnly: false,
          mode: 'text/x-python'
      }"
      ng-model="stateMachine.code"
      ui-refresh="stateMachine.code">
  </div>
  <button type="button" class="btn btn-default btn-md"
    ng-click="update(stateMachine)"
    ng-disabled="!stateMachine.dirty || (stateService.currentState === STATE.INITIALIZED) || stateService.statePending">
    <span class="glyphicon glyphicon-save" aria-hidden="true"/>Update
  </button>
  <button type="button" class="btn btn-default btn-md"
    ng-disabled="(stateService.currentState === STATE.INITIALIZED) || stateService.statePending"
    ng-click="delete(stateMachine)">
    <span class="glyphicon glyphicon-remove"/> Delete
  </button>
</div>
