<h3>SMACH State Machine Editor</h3>
  <div ui-codemirror ui-codemirror-opts="smachEditorOptions" ng-model="smachCode" ui-refresh="smachCode">
  </div>
  <button type="button" class="btn btn-default btn-md disabled enable-tooltip" 
    tooltip="Coming soon" tooltip-trigger="mouseenter" ng-click="save($index)">
    <span class="glyphicon glyphicon-save" aria-hidden="true"/>Save
  </button>
  <button type="button" class="btn btn-default btn-md disabled enable-tooltip" 
    tooltip="Coming soon" tooltip-trigger="mouseenter">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"/>Reset
  </button>
