<button type="button" class="btn btn-default btn-md" ng-click="create()">
  <i class="glyphicon glyphicon-star"></i><span> New</span>
</button>
<button ng-show="isPrivateExperiment" type="button" class="btn btn-default"
        ng-click="saveSMIntoCollabStorage()"
        ng-disabled="stateService.currentState === STATE.INITIALIZED || !collabDirty"
        v-busy="isSavingToCollab"
        v-busy-label="Saving to Collab"
        v-pressable>
  <i class="glyphicon glyphicon-book"></i><span> Save to Collab</span>
</button>
<button class="btn btn-default btn-md" ng-click="save()">
 <i class="glyphicon glyphicon-download"></i><span> Download</span>
</button>
<button class="btn btn-default btn-md" type="file"
        ngf-select="loadStateMachine($file)" accept=".exd"
        ng-disabled="stateService.statePending">
  <i class="glyphicon glyphicon-upload"></i><span> Upload</span>
</button>
