<!-- build:css(.tmp) styles/esv/spiketrain.css -->
<link rel="stylesheet" href="styles/esv/spiketrain.css" />
<!-- endbuild -->

<div id="spiketrain-widget" movable resizeable show-on-top class="spikegraph" style="display: flex;" class="ng-hide" ng-show="showSpikeTrain">
  <div class="leftaxis">
    <div class="spikearrow">
      <p class="legend">NeuronID</p>
    </div>
  </div>
  <div id="spiketrain-display" class="spiketrain">
    <div id="spiketrain-container">
      <canvas id="spiketrain-canvas-1"></canvas>
      <canvas id="spiketrain-canvas-2"></canvas>
    </div>
  </div>
  <button type="button" class="button-close" data-ng-click="spikeTrainButtonClickHandler()">×</button>
</div>
