<button type="button" class="btn btn-default btn-md"
        ng-disabled="(stateService.currentState === STATE.INITIALIZED)"
        ng-click="create()">
  <i class="glyphicon glyphicon-star"></i><span> New</span>
</button>

<button ng-show="isCollabExperiment" type="button" class="btn btn-default"
        ng-click="saveTFIntoCollabStorage()"
        ng-disabled="(stateService.currentState === STATE.INITIALIZED)"
        v-busy="isSavingToCollab"
        v-busy-label="Saving to Collab"
        v-pressable>
  <i class="glyphicon glyphicon-book"></i><span> Save to Collab</span>
</button>

<button ng-show="isCollabExperiment" type="button" class="btn btn-default"
        ng-click="saveCSVIntoCollabStorage()"
        ng-disabled="(stateService.currentState === STATE.INITIALIZED)"
        v-busy="isSavingCSVToCollab"
        v-busy-label="Saving to Collab"
        v-pressable>
  <i class="glyphicon glyphicon glyphicon-stats"></i><span> Save CSV Recorded files to Collab</span>
</button>


<!-- The trick here is to use a 'a' tag instead of a 'button' tag -->
<a id="download-transfer-functions" href="" class="btn btn-default btn-md" ng-click="download()" download="transferFunctions.py">
  <i class="glyphicon glyphicon-download"></i><span> Download</span>
</a>

<button class="btn btn-default " type="file"
        ngf-select="loadTransferFunctions($file)" accept=".py"
        ng-disabled="(stateService.currentState === STATE.INITIALIZED) || stateService.statePending">
  <i class="glyphicon glyphicon-upload"></i><span> Upload</span>
</button>
