<div class="container-with-navbar-margin container-fluid"
style="font-family:'Gotham', sans-serif;text-align: justify;">

  <div style="padding: 50px 0;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="clearfix"></div>
          <h2 class="section-heading text-center" style="margin:20px 0 30px 0;
            font-weight: 500;
            font-family: 'Didot', serif;
            font-size:30px">This is your Neurorobotics Collab</h2>
          <p class="lead">Congratulations, you just created your own Neurorobotics "Collab", the collaborative platform where you can share knowledge and experiments.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div style="padding: 50px 0;
    margin: 10px -15px 0 -15px;
    border: 1px solid #e7e7e7;
    border-width: 1px 0 ;
    border-color: 1px 0 ;
    background-color: #f8f8f8;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <div class="clearfix"></div>
          <h2 class="section-heading">Customize your Collab</h2>
          <p class="lead">
            This is your Collab default Overview page. You can customize it by clicking the configuration wheel <span class="glyphicon glyphicon-cog"></span>            at the top of the page.
          </p>
          <p class="lead">
            Use the pages and left menu configuration wheel to modify the page's content and edit/delete menu items.
          </p>
        </div>
        <div class="col-lg-6 col-sm-6">
          <img class="img-responsive" src="img/create_collab_overview/customize-collab.png"
            alt="Create an experiment" style="box-shadow: 0px 1px 4px rgba(0,0,0,0.7);border-radius: 20px;">
        </div>
      </div>
    </div>
  </div>

  <div style="padding: 50px 0;
    margin: 10px -15px 0 -15px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <img class="img-responsive" src="img/create_collab_overview/clone-experiment.png" alt="Create an experiment" style="box-shadow: 0px 1px 4px rgba(0,0,0,0.7);border-radius: 20px;">
        </div>
        <div class="col-lg-6 col-sm-6">
          <div class="clearfix"></div>
          <h2 class="section-heading">Create an experiment</h2>
          <p class="lead">
            The Neurorobotics platform offers a set of pre-defined experiments than can be copied and customized to your needs.
          </p>
          <p class="lead">
            Navigate to <i>My experiment</i> to create your first copy of an existing experiment.
          </p>
          <p class="lead">
            To add further experiments, click the <i>ADD</i> button in the left menu and choose the Neurorobotics App.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div style="padding: 50px 0;
    margin: 10px -15px 0 -15px;
    border: 1px solid #e7e7e7;
    border-width: 1px 0 ;
    border-color: 1px 0 ;
    background-color: #f8f8f8;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <div class="clearfix"></div>
          <h2 class="section-heading">Launch your experiment</h2>
          <p class="lead">Launching your experiment will run the simulation and take you to the 3D visualization page where you can interact
            with the simulation.
          </p>
          <p class="lead">Customizations done during the simulation are persisted in your Collab storage.
          </p>
        </div>
        <div class="col-lg-6 col-sm-6">
          <img class="img-responsive" src="img/create_collab_overview/run-simulation.png" alt="Run a simulation" style="box-shadow: 0px 1px 4px rgba(0,0,0,0.7);border-radius: 20px;">
        </div>
      </div>
    </div>
  </div>

  <div style="padding: 50px 0;
    margin: 10px -15px 0 -15px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <img class="img-responsive" src="img/create_collab_overview/team.png" alt="Invite a team member"
          style="box-shadow: 0px 1px 4px rgba(0,0,0,0.7);border-radius: 20px;"
         >
        </div>
        <div class="col-lg-6 col-sm-6">
          <div class="clearfix"></div>
          <h2 class="section-heading">Share your experiments</h2>
          <p class="lead">
            Invite your team members into this Collab and share your experiments. You can communicate using the Collaboration chat on
            the right and share files using the Collab storage.
          </p>
          <p class="lead">Navigate to the <i>Team</i> page to invite a team member.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div style="padding: 50px 0;
    margin: 10px -15px 0 -15px;
    border: 1px solid #e7e7e7;
    border-width: 1px 0 ;
    border-color: 1px 0 ;
    background-color: #f8f8f8;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <div class="clearfix"></div>
          <h2 class="section-heading">Collab storage</h2>
          <p class="lead">The Collab storage is the space where all the files related to your experiments are stored.
          </p>
          <p class="lead">Navigate to the <i>Storage</i> page to manage your files.</p>
        </div>
        <div class="col-lg-6 col-sm-6">
          <img class="img-responsive" src="img/create_collab_overview/storage.png" style="box-shadow: 0px 1px 4px rgba(0,0,0,0.7);border-radius: 20px;"
            alt="The Collab storage">
        </div>
      </div>
    </div>
  </div>

  <div style="padding: 50px 0;
    margin: 10px -15px 0 -15px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="clearfix"></div>
          <h2 class="section-heading">Find out more</h2>
          <p class="lead">For more information on how to run and customize your experiments and manage your Collab refer to the Neurorobotics
            Collab <a href="https://collab.humanbrainproject.eu/#/collab/71/nav/4746">support page</a> or have a look at
            the Neurorobotics platform
            <a href="https://developer.humanbrainproject.eu/docs/projects/HBP%20Neurorobotics%20Platform/0.9/nrp/user_manual/index.html">user manual</a>.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>