<div class="container-with-navbar-margin container-fluid">
  <h2>Experiment Designer</h2>
  <h4><span class="label label-warning">The Experiment Designer development will start soon.</span></h4>

  <p>The Experiment Designer will offer a graphical interface to design a whole experiment:
  <ul>
  <li>choose a robot</li>
  <li>choose an environment</li>
  <li>choose a brain</li>
  <li>choose/edit a bibi brain-robot mapping scheme</li>
  <li>define start and stop conditions for experiment as well as timeout and loop cycle times</li>
  <li>create events, define user interaction possibilities</li>
  <li>design a time sequence diagram and plan experiment</li>
  </ul>
  </p>
  <h4>Meanwhile...</h4>

  <p>The existing experiments have been predefined by us. The brain, robot, environment have been put together statically in the experiment description files on our servers. Still, if you go to the Experiment Simulation Viewer page, you will be presented a list of predefined experiments, which means that you have the choice among different combinations of brains/robots/environements.
  </p>
  <p>In the near future, you will be able to choose this combination by yourself through a page that should resemble the one hereunder.
  </p>
  
  <img src=/img/common/experiment-designer-preview.png>
</div>
