<div class="container-with-navbar-margin container-fluid">
  <a name="about"></a>

  <div class="intro-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>Neurorobotics platform</h1>

            <h3>A sub-project of the Human Brain Project</h3>
            <hr class="intro-divider">
            <ul class="list-inline intro-social-buttons">
              <li>
                <a ui-sref='main' class="btn btn-default btn-lg"><i
                  class="fa fa-cog fa-fw"></i> <span class="network-name">Get started!</span></a>
              </li>
              <li>
                <a href="https://twitter.com/HBPNeurorobotic" class="btn btn-default btn-lg"><i
                  class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
              </li>
              <li>
                <a href="https://www.youtube.com/channel/UCPFZMa0mnGcaysvrdA-OzrA/videos" class="btn btn-default btn-lg"><i
                  class="fa fa-youtube fa-fw"></i> <span class="network-name">Youtube</span></a>
              </li>
              <li>
                <a href="mailto:neurorobotics@humanbrainproject.eu" class="btn btn-default btn-lg"><i
                  class="fa fa-envelope-o fa-fw"></i> <span class="network-name">Contact-us</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a name="services"></a>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <div class="clearfix"></div>
          <h2 class="section-heading">The Neurorobotics platform</h2>

          <p class="lead">The NeuroRobotics Platform (NRP) developed in <a href="https://humanbrainproject.eu">the
            Human Brain Project (HBP)</a> is an application for evaluating brain models by connecting them to physical
            simulations of virtual robots and environments.</p>
        </div>
        <div class="col-lg-6 col-sm-6">
          <img class="img-responsive" src="img/common/intro-virtual-room.png"
               alt="The virtual room environment in which the robots are running">
        </div>
      </div>
    </div>
  </div>
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <img class="img-responsive" src="img/common/cscs.jpg"
               alt="BlueGeneQ (IBM) cluster @CSCS Lugano.">
        </div>
        <div class="col-lg-6 col-sm-6">
          <div class="clearfix"></div>
          <h2 class="section-heading">From your browser!</h2>

          <p class="lead">The platform runs in a browser. That way, it is accessible to a broad audience including
            researchers from neuro-sciences and robotics alike. There is little to no programming involved for setting
            up and running
            experiments that are reproducible and can be easily shared among researchers. Furthermore, this approach
            will easily grant access to the <a href="http://www.cscs.ch/computers/blue_brain_4/index.html"><b>high-performance computing clusters</b></a> provided by the HBP as well as to
            <a href="https://spinnaker.cs.manchester.ac.uk/tiki-index.php"><b>neuromorphic hardware</b></a> in the near future.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-inline intro-social-buttons">
            <li>
              <a ui-sref='main' class="btn btn-default btn-lg"><i
                class="fa fa-cog fa-fw"></i> <span class="network-name">Get started !</span></a>
            </li>
            <li>
              <a href='https://developer.humanbrainproject.eu/docs/projects/Neurorobotics%20Platform/0.1/index.html'
                 class="btn btn-default btn-lg"><i
                class="fa fa-info-circle fa-fw"></i> <span class="network-name">Documentation</span></a>
            </li>
            <li>
              <a href="https://docs.google.com/forms/d/1rKHSpf_yG0FQgKdfn5Vs__BFfWpd3-F2X8mEi9LH_Dc/viewform" class="btn btn-default btn-lg"><i
                class="fa fa-pencil fa-fw"></i> <span class="network-name">Give us some feedback</span></a>
            </li>
            <li>
              <a href="https://docs.google.com/forms/d/1OWN-IMXlqSZWbDHNBVsTqydudI8UXn-ztJETHUTa0kQ/viewform"
                 class="btn btn-default btn-lg"><i class="fa fa-bug fa-fw"></i> <span
                class="network-name">Found a bug?</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="clearfix"></div>
        <h2 class="section-heading">The Neurororobotics platform is brought to you by:</h2>
        <ul class="lead">
          <li>The Human Brain Project (<a href="https://www.humanbrainproject.eu/"><b>HBP</b></a>)</li>
          <li>Ecole Polytechnique Fédéral de Lausanne (<a href="http://epfl.ch/"><b>EPFL</b></a>)</li>
          <li>Technische Universität München (<a href="https://www.tum.de/"><b>TUM</b></a> - <a
            href="http://www6.in.tum.de/">Robotics and Embedded Systems</a>)
          </li>
          <li>Fortiss, an-Institut der Technischen Universität München (<a href="http://www.fortiss.org/home/"><b>Fortiss</b></a>)</li>
          <li>Forschungszentrum Informatik am Karlsruher Institut für Technologie (<a
            href="https://www.fzi.de/startseite/"><b>FZI</b></a>)
          </li>
          <li>Scuola Superiore Sant'Anna (<a href="http://www.sssup.it/"><b>SSSUP</b></a> - <a
            href="http://www.sssup.it/ist_home.jsp?ID_LINK=10458&area=199">Istituto di BioRobotica</a>)
          </li>
        </ul>
      </div>
      <div class="row intro-vertical-align-row">
        <div class="col-md-2 col-sm-4 col-xs-4 intro-vertical-align-cell">
          <a href="https://www.humanbrainproject.eu/"><img class="img-responsive" src="img/common/hbp-logo.png"></a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4 intro-vertical-align-cell">
          <a href="http://epfl.ch/"><img class="img-responsive" src="img/common/Logo_EPFL.png"></a>
        </div>
        <div class="col-md-1 col-sm-2 col-xs-2 intro-vertical-align-cell">
          <a href="https://www.tum.de/"><img class="img-responsive" src="img/common/Tum_logo.gif"></a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4 intro-vertical-align-cell">
          <a href="http://www.fortiss.org/home/"><img class="img-responsive" src="img/common/fortiss-logo.png"></a>
        </div>
        <div class="col-md-1 col-sm-2 col-xs-2 intro-vertical-align-cell">
          <a href="https://www.fzi.de/startseite/"><img class="img-responsive" src="img/common/Fzi_logo.png"></a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4 intro-vertical-align-cell">
          <a href="http://www.sssup.it/"><img class="img-responsive" src="img/common/SSSA_logo_eng.png"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <div class="clearfix"></div>
          <h2 class="section-heading">Targeted Audience</h2>

          <p class="lead">This is the <i>first internal release</i> of the NRP targeted at the HBP consortium. This
            release represents the current state of development and provides a first glance upon how the NRP will be
            able to contribute to active research in the Human Brain Project in the future. It marks also the first time
            that the platform is presented to a broader audience.</p>
        </div>
        <div class="col-lg-6 col-lg-offset-1 col-sm-6">
          <img class="img-responsive" src="img/common/intro-team.png"
               alt="The neurorobotics Team (from EPFL, TUM and SSSA)">
        </div>
      </div>
    </div>
  </div>
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="clearfix"></div>
          <h2 class="section-heading">What to expect?</h2>

          <p class="lead">Please keep in mind that the NRP is currently still <b>under active development</b> so that the experience
          is limited to the execution of a single exemplary experiment that can be performed with two different,
          selectable robots. In this experiment, the robots act as <a href='http://en.wikipedia.org/wiki/Braitenberg_vehicle'>Braitenberg vehicles</a>, that is, their behavior is
          controlled by a simplistic brain consisting of only a small number of neurons that steer the robots towards
          red stimuli. This happens in a virtual environment with screens attached to opposite walls that can switch a
          displayed color upon user interaction.</p>

        </div>
      </div>
    </div>
  </div>
  <div class="content-section-b">
    <div class="container">
      <div class="row intro-vertical-align-row">
        <div class="col-lg-6 col-sm-6 intro-vertical-align-cell">
          <!-- Constructed with http://embedresponsively.com/ -->
          <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='http://www.youtube.com/embed/Dt6-fBL384E' frameborder='0' allowfullscreen></iframe></div>
        </div>
        <div class="col-lg-6 col-sm-6 intro-vertical-align-cell">
          <div class="clearfix"></div>
          <p class="lead">This experiment, while simple, shows very well the interplay of the neural simulator and the physical robot
            simulations which is the core of the NRP.</p>

          <p>In addition, one of the strongest aspects of this release lies in multi-user experiments performed on the platform. This means that
            the NRP offers the ability to let multiple users observe (but not interact with) experiments that have been
            started by other experimenters.</p>

          <p>Altogether, this first internal release shows that the core functionality of Neurorobotics Platform has
            already reached an initial operational status.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="content-section-a">
    <div class="container">
      <div class="row intro-vertical-align-row">
        <h2 class="section-heading">The Neurorobotics platform is powered by:</h2>
      </div>
      <div class="row intro-vertical-align-row">
        <div class="col-md-1 col-sm-4 col-xs-4 intro-vertical-align-cell">
          <a href="https://angularjs.org/"><img class="img-responsive" src="img/common/angular.png"></a>
        </div>
        <div class="col-md-1 col-sm-4 col-xs-4 intro-vertical-align-cell">
          <a href="http://getbootstrap.com/"><img class="img-responsive" src="img/common/bootstrap-logo.png"></a>
        </div>
        <div class="col-md-1 col-sm-4 col-xs-4 intro-vertical-align-cell">
          <a href="http://flask.pocoo.org/"><img class="img-responsive" src="img/common/flask.png"></a>
        </div>
        <div class="col-md-2 col-sm-8 col-xs-8 intro-vertical-align-cell">
          <a href="http://www.ros.org/"><img class="img-responsive" src="img/common/ros.png"></a>
        </div>
        <div class="col-md-1 col-sm-4 col-xs-4 intro-vertical-align-cell">
          <a href="http://gazebosim.org/"><img class="img-responsive" src="img/common/gazebo_logo.png"></a>
        </div>
        <div class="col-md-1 col-sm-4 col-xs-4 intro-vertical-align-cell">
          <a href="https://www.openstack.org/"><img class="img-responsive" src="img/common/openstack-logo.png"></a>
        </div>
        <div class="col-md-2 col-sm-8 col-xs-8 intro-vertical-align-cell">
          <a href="http://www.nest-initiative.org/"><img class="img-responsive" src="img/common/nest-initiative_logo.png"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="content-section-b">
    <div class="container">
      <div class="row intro-vertical-align-row">
        <div class="col-lg-6 col-sm-6 intro-vertical-align-cell">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseVersion0_1">Neurorobotics platform 0.1</a> <small data-toggle="tooltip" data-placement="top" title="Release date">2015-05-08</small>
                </h4>
              </div>
              <div id="collapseVersion0_1" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul>
                    <li>Experiment Simulation Viewer Web based.</li>
                    <li>Braitenberg Experiment with Lauron robot.</li>
                    <li>Braitenberg Experiment with Husky robot.</li>
                    <li>Spike train live view.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseVersion0_2">Neurorobotics platform 0.2</a> <small data-toggle="tooltip" data-placement="top" title="Release date">2015-07-10</small>
                </h4>
              </div>
              <div id="collapseVersion0_2" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul>
                    <li>First integration into the collaboratory portal.</li>
                    <li>New environments (FZI building and rough land field).</li>
                    <li>Download / Upload of experiment configuration files.</li>
                    <li>New robots (including humanoid)</li>
                    <li>First version of experiment designer</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseVersion0_3">Neurorobotics platform 0.3</a> <small data-toggle="tooltip" data-placement="top" title="Release date">2015-10-30</small>
                </h4>
              </div>
              <div id="collapseVersion0_3" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul>
                    <li>Coming soon!</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 intro-vertical-align-cell">
          <div class="clearfix"></div>
          <h2 class="section-heading">Roadmap</h2>

          <p class="lead">The main focus of the ongoing and future development of the NRP
            will lie on the implementation of user tools for creating own experiments. In detail, this will offer
            experimenters the opportunity to comfortably specifying their own, more complex experiments with well-defined
            control flows, selecting (and, to a certain degree, creating) virtual robots and environments, and configuring
            the connections between brain models and the embodiments.</p>
        </div>
      </div>
    </div>
  </div>










</div>
