<div class="alert alert-warning no-margin" ng-show="!(isSupportedBrowser || dismissWarning)">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    Sorry, we currently don't support {{browser}}. You may continue but only
    {{ supportedBrowsers | joinWithEndException:', ':' or ' }}
    will ensure the best experience.
  <button class="btn btn-warning btn-xs pull-right" ng-click="dismissBrowserWarning()">&times;</button>
</div>

<div class="container-with-navbar-margin container-fluid">

  <div id="intro-header" class="intro-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>Neurorobotics platform</h1>
            <h3>A sub-project of the Human Brain Project</h3>
            <hr class="intro-divider">
            <ul class="list-inline intro-social-buttons">
              <li>
                <a ui-sref='esv-web' class="btn btn-default btn-lg"><i
                  class="fa fa-cog fa-fw"></i> <span class="network-name">Get started!</span></a>
              </li>
              <li>
                <a href="https://twitter.com/HBPNeurorobotic" class="btn btn-default btn-lg"><i
                  class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
              </li>
              <li>
                <a href="https://www.youtube.com/channel/UCPFZMa0mnGcaysvrdA-OzrA/videos"
                   class="btn btn-default btn-lg"><i
                  class="fa fa-youtube fa-fw"></i> <span class="network-name">Youtube</span></a>
              </li>
              <li>
                <a href="mailto:neurorobotics@humanbrainproject.eu" class="btn btn-default btn-lg"><i
                  class="fa fa-envelope-o fa-fw"></i> <span class="network-name">Contact-us</span></a>
              </li>
            </ul>
            <a scroll-on-click href="#nrp-section" class="btn btn-circle">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="nrp-section" class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <div class="clearfix"></div>
          <h2 class="section-heading">The Neurorobotics platform</h2>
          <p class="lead">The NeuroRobotics Platform (NRP) developed in
            <a href="https://humanbrainproject.eu">
            the Human Brain Project (HBP)</a> is an Internet-accessible simulation
            system that allows the simulation  of robots controlled by spiking neural networks.
          </p>
        </div>
        <div class="col-lg-6 col-sm-6">
          <img class="img-responsive" src="img/common/display-wall.png"
               alt="The virtual room environment in which the robots are running">
        </div>
      </div>
    </div>
  </div>

  <div id="targeted-audience" class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <img class="img-responsive" src="img/common/intro-team.png"
               alt="The neurorobotics Team (from EPFL, TUM and SSSA)">
        </div>
        <div class="col-lg-6 col-sm-6">
          <div class="clearfix"></div>
          <h2 class="section-heading">Targeted Audience</h2>
          <p class="lead">The NRP platform targets researchers of multiple fields.
            Prospected users include but are not limited to
            neuroscientists wanting to validate brain models in the context of closed action-perception loops as well as robotics researchers wanting to develop new neuro-inspired controllers.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="what-to-expect" class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <div class="clearfix"></div>
          <h2 class="section-heading">What to expect?</h2>
          <p class="lead">This is the <i>first internal release</i> of the NRP, targeted at
            the HBP consortium. It offers a limited set of functions - more features will follow in regular intervals.
          </p>
          <p class="lead">
            The first initial release demonstrates the integration of robot and environment simulations (the World Simulation Engine) with a brain simulation (HBP Netsim aka
            <a href="http://www.nest-initiative.org/">NEST</a>).
          </p>
        </div>
        <div class="col-lg-6 col-sm-6">
        <!-- Generated through http://embedresponsively.com/ -->
         <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/b_RjzdlN0y4' frameborder='0' allowfullscreen></iframe></div>
        </div>
        <div class="col-lg-12 col-sm-12">
          <p class="lead">
            Future releases will offer graphical interfaces to select and configure robot and environment models as well as programmable interfaces to connect brain models to the sensors and effectors of a robot. An experiment designer will help users to define their own experiment protocols.
          </p>
          <p>
            We illustrate the current state of the NRP with a simple experiment: a mobile robot that moves inside a realistically modelled virtual room with two computer screens. The user can interact with the experiment by changing the colors of the screens.
            The robot tries to reach the red screen by virtue of a small network of spiking neurons, turning the robot into a <a href="http://en.wikipedia.org/wiki/Braitenberg_vehicle">Braitenberg vehicle</a>.
          </p>
          <p>
            We provide two versions of this experiment. The first uses
            a four-wheeled mobile robot (Husky) and the second experiment uses a six-legged walking machine (LAURON V).
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="from-your-browser" class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <img class="img-responsive" src="img/common/desktop-esv-browser.png"
               alt="Browser capture from the Experiment Simulation Viewer entrance page">
        </div>
        <div class="col-lg-6 col-sm-6">
          <div class="clearfix"></div>
          <h2 class="section-heading">From your browser!</h2>
          <p class="lead">
            You access the platform from your browser (see
            <a href='https://developer.humanbrainproject.eu/docs/Neurorobotics%20Platform/latest/introduction.html'>
              list of supported browsers</a>).
            When you log into the platform you can start a new experiment or join other experiments that are currently running.
            If you start a new experiment, you can change the experiment (currently just some parameters) and interact with the simulation. If you join a running experiment, you are only an observer, but you can still navigate through the scene.
          </p>
        </div>
        <div class="col-lg-12 col-sm-12">
          <p class="lead">
            The platform should be easily accessible to researchers from neurosciences and robotics alike with little to no programming involved for setting
            up and running experiments. In later releases, the NRP will provide an easy way to use <a href="http://www.cscs.ch/computers/blue_brain_4/index.html"><b>high-performance
              computing clusters</b></a> as well as
            <a href="https://spinnaker.cs.manchester.ac.uk/tiki-index.php"><b>neuromorphic hardware</b></a> from the respective HBP subprojects.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="your-role-in-nrp" class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="clearfix"></div>
          <h2 class="section-heading">Your role in the NRP</h2>
          <p class="lead">We are looking for scientists interested in doing in silico cognitive and behavioral neuroscience experiments with the NRP as part of a co-design project.
          These co-design projects will drive NRP development (as well as other platforms) from the user perspective by ensuring that all new features and capabilities are to the benefit of the platform users.
          For application, please use the
          <a href="https://docs.google.com/forms/d/1rKHSpf_yG0FQgKdfn5Vs__BFfWpd3-F2X8mEi9LH_Dc/viewform">survey</a> or contact the NRP team directly by
            <a href="mailto:neurorobotics@humanbrainproject.eu">email</a>. </p>
          <p><b>Your feedback is welcome.</b> In order to help us improve the NRP you can answer this
            <a href="https://docs.google.com/forms/d/1rKHSpf_yG0FQgKdfn5Vs__BFfWpd3-F2X8mEi9LH_Dc/viewform">survey</a>
            and report issues by filling out a
            <a href="https://docs.google.com/forms/d/1OWN-IMXlqSZWbDHNBVsTqydudI8UXn-ztJETHUTa0kQ/viewform">
              bug report
            </a>.
            In addition, the mailing list can be used to discuss further details of the software.
            There, we would like to discuss aspects of further developments, e.g.,
            what kind of experiments should be conducted and what requirements arise.</p>
        </div>
      </div>
    </div>
  </div>

  <div id="banner" class="banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-inline intro-social-buttons">
            <li>
              <a ui-sref="esv-web" class="btn btn-default btn-lg"><i
                class="fa fa-cog fa-fw"></i> <span class="network-name">Get started !</span></a>
            </li>
            <li>
              <a href="https://developer.humanbrainproject.eu/docs/Neurorobotics%20Platform/latest/"
                 class="btn btn-default btn-lg"><i
                class="fa fa-info-circle fa-fw"></i> <span class="network-name">Documentation</span></a>
            </li>
            <li>
              <a href="https://docs.google.com/forms/d/1rKHSpf_yG0FQgKdfn5Vs__BFfWpd3-F2X8mEi9LH_Dc/viewform"
                 class="btn btn-default btn-lg"><i
                class="fa fa-pencil fa-fw"></i> <span class="network-name">Give us some feedback</span></a>
            </li>
            <li>
              <a href="https://docs.google.com/forms/d/1OWN-IMXlqSZWbDHNBVsTqydudI8UXn-ztJETHUTa0kQ/viewform"
                 class="btn btn-default btn-lg"><i class="fa fa-bug fa-fw"></i> <span
                class="network-name">Found a bug?</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="road-map" class="content-section-a">
    <div class="container">
      <div class="row vertical-align-row">
        <div class="col-lg-6 col-sm-6 vertical-align-cell">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseVersion0_1">Neurorobotics platform
                    0.1</a>
                  <small data-toggle="tooltip" data-placement="top" title="Release date">May 2015</small>
                </h4>
              </div>
              <div id="collapseVersion0_1" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul>
                    <li>Experiment Simulation Viewer Web based.</li>
                    <li>Braitenberg Experiment with Lauron robot.</li>
                    <li>Braitenberg Experiment with Husky robot.</li>
                    <li>Spike train live view.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseVersion0_3">Neurorobotics platform
                    0.3</a>
                  <small data-toggle="tooltip" data-placement="top" title="Release date">July 2015</small>
                </h4>
              </div>
              <div id="collapseVersion0_3" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul>
                    <li>First integration into the collaboratory portal</li>
                    <li>New environment (rough land field)</li>
                    <li>Edition of experiments</li>
                    <li>New robots (including iCub humanoid)</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseVersion0_4">Neurorobotics platform
                    0.4</a>
                  <small data-toggle="tooltip" data-placement="top" title="Release date">October 2015</small>
                </h4>
              </div>
              <div id="collapseVersion0_4" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul>
                    <li>New experiment: virtual mouse with soft skin animation</li>
                    <li>New experiment: eye tracking on iCub humanoid</li>
                    <li>Robot metrics (dynamic state) monitoring</li>
                    <li>Environment designer</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseVersion0_5">Neurorobotics platform
                    0.5</a>
                  <small data-toggle="tooltip" data-placement="top" title="Release date">January 2016</small>
                </h4>
              </div>
              <div id="collapseVersion0_5" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul>
                    <li>New experiment: sensorimotor learning and manipulation on HoLLie arm</li>
                    <li>New experiment: neuronal locomotion</li>
                    <li>Large and parallel brain support</li>
                    <li>Neural network editor</li>
                    <li>Saving, loading and sharing of edited experiments</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseVersion1_0">Neurorobotics platform
                    1.0</a>
                  <small data-toggle="tooltip" data-placement="top" title="Release date">March 2016</small>
                </h4>
              </div>
              <div id="collapseVersion1_0" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul>
                    <li>First Public Release!</li>
                    <li>More info soon...</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 vertical-align-cell">
          <div class="clearfix"></div>
          <h2 class="section-heading">Roadmap</h2>

          <p class="lead">The main focus of NRP's ongoing and future development
            is the implementation of user tools for designing custom experiments. This will enable
            experimenters to comfortably specify more sophisticated experiments with
            well-defined control flows, to select (and, to a certain extent, to create) virtual robots and environments, and to configure
            the connections between brain models and the embodiments.</p>
        </div>
      </div>
    </div>
  </div>

  <div id="powered-by" class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-heading">The Neurorobotics platform is powered by:</h2>
        </div>
      </div>
      <div class="row vertical-align-row">
        <div class="col-md-1 col-sm-4 col-xs-4 vertical-align-cell">
          <a href="https://angularjs.org/"><img class="img-responsive" src="img/common/angular.png"></a>
        </div>
        <div class="col-md-1 col-sm-4 col-xs-4 vertical-align-cell">
          <a href="http://getbootstrap.com/"><img class="img-responsive" src="img/common/bootstrap-logo.png"></a>
        </div>
        <div class="col-md-1 col-sm-4 col-xs-4 vertical-align-cell">
          <a href="http://flask.pocoo.org/"><img class="img-responsive" src="img/common/flask.png"></a>
        </div>
        <div class="col-md-2 col-sm-8 col-xs-8 vertical-align-cell">
          <a href="http://www.ros.org/"><img class="img-responsive" src="img/common/ros.png"></a>
        </div>
        <div class="col-md-1 col-sm-4 col-xs-4 vertical-align-cell">
          <a href="http://gazebosim.org/"><img class="img-responsive" src="img/common/gazebo_logo.png"></a>
        </div>
        <div class="col-md-1 col-sm-4 col-xs-4 vertical-align-cell">
          <a href="https://www.openstack.org/"><img class="img-responsive" src="img/common/openstack-logo.png"></a>
        </div>
        <div class="col-md-2 col-sm-8 col-xs-8 vertical-align-cell">
          <a href="http://www.nest-initiative.org/"><img class="img-responsive"
                                                         src="img/common/nest-initiative_logo.png"></a>
        </div>
      </div>
    </div>
  </div>

  <div id="brought-to-you-by" class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="clearfix"></div>
          <h2 class="section-heading">The Neurororobotics platform is brought to you by:</h2>
          <ul class="lead">
            <li>The Human Brain Project (<a href="https://www.humanbrainproject.eu/"><b>HBP</b></a>)</li>
            <li>Ecole Polytechnique F&eacute;d&eacute;ral de Lausanne (<a href="http://epfl.ch/"><b>EPFL</b></a>)</li>
            <li>Technische Universit&auml;t M&uuml;nchen (<a href="https://www.tum.de/"><b>TUM</b></a> - <a
              href="http://www6.in.tum.de/">Robotics and Embedded Systems</a>)
            </li>
            <li>Fortiss, an-Institut der Technischen Universit&auml;t M&uuml;nchen (<a
              href="http://www.fortiss.org/home/"><b>Fortiss</b></a>)
            </li>
            <li>Forschungszentrum Informatik am Karlsruher Institut f&uuml;r Technologie (<a
              href="https://www.fzi.de/startseite/"><b>FZI</b></a>)
            </li>
            <li>Scuola Superiore Sant'Anna (<a href="http://www.sssup.it/"><b>SSSUP</b></a> - <a
              href="http://www.sssup.it/ist_home.jsp?ID_LINK=10458&area=199">Istituto di BioRobotica</a>)
            </li>
          </ul>
        </div>
      </div>
      <div class="row vertical-align-row">
        <div class="col-md-2 col-sm-4 col-xs-4 vertical-align-cell">
          <a href="https://www.humanbrainproject.eu/"><img class="img-responsive" src="img/common/hbp-logo.png"></a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4 vertical-align-cell">
          <a href="http://epfl.ch/"><img class="img-responsive" src="img/common/Logo_EPFL.png"></a>
        </div>
        <div class="col-md-1 col-sm-2 col-xs-2 vertical-align-cell">
          <a href="https://www.tum.de/"><img class="img-responsive" src="img/common/Tum_logo.gif"></a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4 vertical-align-cell">
          <a href="http://www.fortiss.org/home/"><img class="img-responsive" src="img/common/fortiss-logo.png"></a>
        </div>
        <div class="col-md-1 col-sm-2 col-xs-2 vertical-align-cell">
          <a href="https://www.fzi.de/startseite/"><img class="img-responsive" src="img/common/Fzi_logo.png"></a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4 vertical-align-cell">
          <a href="http://www.sssup.it/"><img class="img-responsive" src="img/common/SSSA_logo_eng.png"></a>
        </div>
      </div>
    </div>
  </div>

</div>
