<div class="alert alert-warning" ng-show="!(isSupportedBrowser || dismissWarning)">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    Sorry, we currently don't support {{browser}}. You may continue but only
    {{ supportedBrowsers | joinWithEndException:', ':' or ' }}
    will ensure the best experience.
  <button class="btn btn-warning btn-xs pull-right" ng-click="dismissBrowserWarning()">&times;</button>
</div>
<div class="container-with-navbar-margin">
  <h1 class="nrp-main-title">Neurorobotics Platform</h1>
  <hr>
  <div class="container-fluid">
    <div class="list-group">
      <div class="nrp-main-sidebar col-md-2 hidden-xs hidden-sm">
        <h3 class="nrp-main-hints">Create Robots, Environments and Experiments</h3>

        <div class="nrp-main-hints-arrow">
          <svg height="80px" width="120px">
            <defs>
              <marker id="arrowhead" markerWidth="10" markerHeight="10" orient="auto" refX="2" refY="5">
                <polygon points="0,0 10,5 0,10"></polygon>
              </marker>
            </defs>
            <path class="arrow" d="M 60,0 Q 65,40 110,35" style="marker-end: url(#arrowhead); fill: none;
               stroke-width: 1px; stroke: black"></path>
          </svg>
        </div>
      </div>
      <div class="col-md-10">
        <div class="form-group col-md-3">
          <a ui-sref='rd' class="list-group-item">
            <img class="foreground" src="img/common/coming_soon.svg"/>
            <h4 class="list-group-item-heading">Robot Designer</h4>

            <p class="list-group-item-text">Create or modify Robots</p>
            <img src="img/common/robot-designer.png" class="img-thumbnail nrp-main-thumbnail">
          </a>
        </div>
        <div class="form-group col-md-3">
          <a ui-sref='ed' class="list-group-item">
            <img class="foreground" src="img/common/coming_soon.svg"/>
            <h4 class="list-group-item-heading">Environment Designer</h4>

            <p class="list-group-item-text">Create or modify Environments</p>
            <img src="img/common/environment-designer.png" class="img-thumbnail nrp-main-thumbnail">
          </a>
        </div>
        <div class="form-group col-md-3">
          <a ui-sref='bibi' class="list-group-item">
            <img class="foreground" src="img/common/coming_soon.svg"/>
            <h4 class="list-group-item-heading">Brain Interfaces &amp; Body Integrator</h4>

            <p class="list-group-item-text">Link neural simulations to Robots</p>
            <img src="img/common/brain-interfaces-and-body-integrator.png" class="img-thumbnail nrp-main-thumbnail">
          </a>
        </div>
        <div class="form-group col-md-3">
          <a ui-sref='exd' class="list-group-item">
            <img class="foreground" src="img/common/coming_soon.svg"/>
            <h4 class="list-group-item-heading">Experiment Designer</h4>

            <p class="list-group-item-text">Define full Experiments</p>
            <img src="img/common/experiment-designer.png" class="img-thumbnail nrp-main-thumbnail">
          </a>
        </div>
      </div>
      <div class="clearfix"></div>
      <hr>
      <div class="nrp-main-sidebar col-md-2 hidden-xs hidden-sm">
        <h3 class="nrp-main-hints">Run Neurorobotics Experiments</h3>

        <div class="nrp-main-hints-arrow">
          <svg height="80px" width="120px">
            <defs>
              <marker id="arrowhead" markerWidth="10" markerHeight="10" orient="auto" refX="2" refY="5">
                <polygon points="0,0 10,5 0,10"></polygon>
              </marker>
            </defs>
            <path class="arrow" d="M 60,0 Q 65,40 110,35" style="marker-end: url(#arrowhead); fill: none;
               stroke-width: 1px; stroke: black"></path>
          </svg>
        </div>
      </div>
      <div class="col-md-10">
        <div class="form-group col-md-3">
          <a ui-sref="esv-wall" class="list-group-item">
            <img class="foreground" src="img/common/available_in_geneva.svg"/>
            <h4 class="list-group-item-heading">Experiment Simulation Viewer <br> Display Wall</h4>

            <p class="list-group-item-text">Run and view Experiments on the display wall</p>
            <img src="img/common/experiment-simulation-viewer-wall.png" class="img-thumbnail nrp-main-thumbnail">
          </a>
        </div>
        <div class="form-group col-md-3">
          <a ui-sref='esv-web' class="list-group-item">
            <img class="foreground" src="img/common/available.svg"/>
            <h4 class="list-group-item-heading">Experiment Simulation Viewer <br> Web Browser</h4>

            <p class="list-group-item-text">Run and view Experiments in your browser</p>
            <img src="img/common/experiment-simulation-viewer-web.png" class="img-thumbnail nrp-main-thumbnail">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
