<div class="container-with-navbar-margin container-fluid">
  <h3 class="nrp-main-titles">Create Robots, Environments and Experiments</h3>
  <div class="clearfix"></div>
  <div class="list-group">
    <div class="form-group col-md-3">
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Robot Designer</h4>
        <p class="list-group-item-text">Create or modify Robots</p>
        <img src="img/common/robot-designer.png" class="img-thumbnail nrp-main-thumbnail">
      </a>
    </div>
    <div class="form-group col-md-3">
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Environment Designer</h4>
        <p class="list-group-item-text">Create or modify Environments</p>
        <img src="img/common/environment-designer.png" class="img-thumbnail nrp-main-thumbnail">
      </a>
    </div>
    <div class="form-group col-md-3">
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Brain Interfaces &amp; Body Integrator</h4>
        <p class="list-group-item-text">Link neural simulations to Robots</p>
        <img src="img/common/brain-interfaces-and-body-integrator.png" class="img-thumbnail nrp-main-thumbnail">
      </a>
    </div>
    <div class="form-group col-md-3">
      <a ui-sref='new' class="list-group-item">
        <h4 class="list-group-item-heading">Experiment Designer</h4>
        <p class="list-group-item-text">Define full Experiments</p>
        <img src="img/common/experiment-designer.png" class="img-thumbnail nrp-main-thumbnail">
      </a>
    </div>
    <div class="clearfix"></div>
    <hr>
    <h3 class="nrp-main-titles">Run Neurorobotics Experiments</h3>
    <div class="form-group col-md-4 col-md-offset-2">
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Experiment Simulation Viewer <br> Display Wall</h4>
        <p class="list-group-item-text">Run and view Experiments on the display wall</p>
        <img src="img/common/experiment-simulation-viewer-wall.png" class="img-thumbnail nrp-main-thumbnail">
      </a>
    </div>
    <div class="form-group col-md-4">
      <a ui-sref='gz3d-view' class="list-group-item">
        <h4 class="list-group-item-heading">Experiment Simulation Viewer <br> Web Browser</h4>
        <p class="list-group-item-text">Run and view Experiments in your browser</p>
        <img src="img/common/experiment-simulation-viewer-web.png" class="img-thumbnail nrp-main-thumbnail">
      </a>
    </div>
  </div>
</div>
