<div class="container-with-navbar-margin container-fluid">
  <h2>Robot Designer</h2>
  <h4><span class="label label-warning">The Robot Designer development will start soon.</span></h4>

  <p>The Robot Designer will allow a user to easily set up a virtual robot for a given simulated experiment. The word
    "easily" is here very important since the user may be a neuroscientist, and unfamiliar with robotics details. The
    robot shall be integrated into an environment later on.</p>

  <p>In the first version of the Robot Designer, to be completed at the end of the ramp-up phase, the Designer will
    provide the user with pre-assembled robots from a "robot library", or from imported files for quick
    customisation.</p>

  <p>The team is currently implementing two robots for the platform: The Clearpath Husky robot and a biologically
    inspired mouse model. The Husky is a realistic model of a mobile robot distributed by a company called Clearpath. It
    will therefore be a good demonstrator for the transition from simulated to physical robotics experiments, which are
    planned for the FPA phase of HBP. The mouse model caters to the needs of neuroscientists and the plans to run
    behavioural experiments in simulation.</p>
  <h4>Meanwhile...</h4>

  <p>The neurorobotics platform is built on top of <a href="http://gazebosim.org/">Gazebo</a> <img
    src="img/common/gazebo-logo.png"/>. Any robots created for Gazebo is therefore compatible with the platform. Gazebo
    uses the SDF format. If you want your robots to be available, you need to upload the corresponding SDF file(s) and
    assets through the portal document browser (<img
      src="img/common/document-browser.png" alt="Document browser"/>). In order for it to be recognised by the platform,
    the
    main sdf file needs to be edited:
  <ul>
    <li>The content type should be changed to <b>nrp/robot</b></li>
    <li>A custom attribute <b>nrpDescription</b> with a string containing the description of the robot needs to be
      added.
    </li>
    <li>A custom attribute <b>nrpName</b> with a string containing the name of the robot needs to be added,</li>
    <li>An optional attribute <b>thumbnail</b> with the uuid to an image uploaded to the portal representing the
      robot can be added.
    </li>
  </ul>
  </p>
  <p>The husky robot main file (model.sdf) properties:<br>
    <img class="img-thumbnail" src="img/common/document-browser-nrp-robot-properties.png"
         alt="Husky robot SDF file properties"/>
  </p>
  </p>
</div>
