<div class="container-with-navbar-margin container-fluid">
  <h2>Robot Designer</h2>
  <h4><span class="label label-warning">The Robot Designer development will start soon.</span></h4>

  <p>The Robot Designer will allow a user to easily set up a virtual robot for a given simulated experiment. The word
    "easily" is here very important since the user may be a neuroscientist, and unfamiliar with robotics details. The
    robot shall be integrated into an environment later on.</p>

  <p>In the first version of the Robot Designer, to be completed at the end of the ramp-up phase, the Designer will
    provide the user with pre-assembled robots from a "robot library", or from imported files for quick
    customisation.</p>

  <p>The team is currently implementing three robots for the platform: The Clearpath Husky robot,
    the <a href="http://www.fzi.de/en/research/projekt-details/lauron/">LAURON</a>, a bio-inspired,
    six-legged walking robot which was developed at the FZI in Karlsruhe as well as
    a biologically inspired mouse model.</p>

  <p>
    The Husky is a realistic model of a mobile robot distributed by a company called Clearpath. It
    will therefore be a good demonstrator for the transition from simulated to physical robotics experiments, which are
    planned for the FPA phase of HBP.</p>

  <p>
    The LAURON robot is targeted at testing and enhancing statically stable walking in difficult and rough terrain.
    Present work on LAURON deals with bio-inspired gait analysis, navigation strategies, robot autonomy,
    manipulation with its front legs, and energy-efficient walking.
    The mechanical design of this walking robot is biologically-inspired by the stick insect.
    It has 6 legs fixed to a central body with an inner aluminium skeleton,
    which holds the necessary electronics. Each of the 6 legs is actuated by 4 joints.
    Additionally, the head can be moved in 2 directions (roll, pitch) giving LAURON an overall
    amount of 26 degrees of freedom.</p>

  <p>
    The mouse model caters to the needs of neuroscientists and the plans to run
    behavioural experiments in simulation.</p>

  <h4>Meanwhile...</h4>

  <p>The Neurorobotics Platform is built on top of <a href="http://gazebosim.org/">Gazebo</a>
    <img src="img/common/gazebo-logo.png"/>.
    Any robot created for Gazebo is therefore compatible with the platform.
    Gazebo uses the <a href="http://sdformat.org/">SDF format</a>.
    If you want your robots to be available, <a href="mailto:neurorobotics@humanbrainproject.eu">get in contact with us!</a> (we only need the corresponding SDF file(s) and
    assets).
  </p>

  <!-- The following lines can be uncommented (and edited) as soon as it is clear how the document uploading will work.
  <p>
  In order for it to be recognised by the platform, the main sdf file needs to be edited:
  </p>
  <ul>
    <li>The content type should be changed to <b>nrp/robot</b></li>
    <li>A custom attribute <b>nrpDescription</b> with a string containing the description of the robot needs to be
      added.
    </li>
    <li>A custom attribute <b>nrpName</b> with a string containing the name of the robot needs to be added,</li>
    <li>An optional attribute <b>thumbnail</b> with the uuid to an image uploaded to the portal representing the
      robot can be added.
    </li>
  </ul>
  -->

</div>
