<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss('cancel')" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Auto-saved data</h4>
</div>
<div class="modal-body">
  <p>There is unsaved work from a previous session by user {{username}}. Would you like to restore it or discard it?</p>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="$dismiss('cancel')">Discard</button>
  <button class="btn btn-default" ng-click="$close(false)">Restore</button>
  <button class="btn btn-default" ng-click="$close(true)">Restore & Apply</button>
</div>